{% twig_js name="biopen_twigJs_elementInfo" %}

{# -------------- #}
{#  ELEMENT INFO  #}
{# -------------- #}
<li id="element-info-{{ element.id }}" 
    class="element-item" 
    data-element-id="{{ element.id }}">

  {# HEADER #}
  <div class="collapsible-header bgdSoftColorAs" option-id={{mainOptionValueToDisplay.option.ownerColorId}}>
    
    {# Header Title #}
    <div class='collapsible-header-title row'> 

      <span class="col s12 name">

        {# Icons #}
        <span class="element-main-icon icon {{mainOptionValueToDisplay.option.icon}} colorAs hideOnLargeScreen" option-id={{mainOptionValueToDisplay.optionId}}></span>
        <span class="star-names-icons">
          {% for starName in starNames %} 
              <span class="icon icon-{{starName}}"></span>
            {% endfor %}
        </span>   
           
        {# Distance and Close Button #}
        <span class="icon icon-close" id="btn-close-bandeau-detail"></span>
        {% if showDistance and element.distance != null %}
          <span class="right-align distance">~ {{ element.distance }} km</span>
        {% endif %}

        {# Name #}
        {{ element.name|capitalize }}

      </span>
      
    </div>

    {# Header More #}
    <div class='collapsible-header-more row'>

      {# Description #}
      <span class="description col s12">{{ element.description|capitalize }}</span> 

      {# Products litteral #}
      <span class="inline-option-values col s8 hideOnLargeScreen">
        {{ mainOptionValueToDisplay.option.name|capitalize }} 
        {% if otherOptionsValuesToDisplay.length != 0 %}, {% endif %}

        {% for optionValue in otherOptionsValuesToDisplay %} 
            {% set isDisabled = optionValue.isFilledByFilters ? '' : 'disabled' %}
            <span class="option-value {{ isDisabled }}">{{ optionValue.option.name|capitalize }} {% if not loop.last %}, {% endif %}</span>            
        {% endfor %}

      </span>

      {# Select as Representant (constellation mode) #}
      <span class="col s4 right-align btn-select-as-representant-container" style="display:none">
        <button class="btn btn-select-as-representant waves-effect waves-light" >Sélectionner</button> 
      </span>

      {# Representant Label(constellation mode) #}
      <span class="col s4 right-align starRespresentantLabel" style="display:none">Element principal</span>

      {# Toggle Details Buttons #}
      <a><span class="col s4 right-align moreInfos hideOnLargeScreen">Plus d'infos</span></a>
      <a><span class="col s4 right-align lessInfos hideOnLargeScreen" style="display:none">Moins d'infos</span></a>

    </div>

  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails custom-scroll-bar" > 
  
    {# Menu in constellation mode #}
    {% if listingMode %}
      <div class="menu-element bgdSoftColorAs" option-id={{mainOptionValueToDisplay.ownerColorId}}>  

        <div class="menu-element-item item-add-favorite" style="display:none">
          <span class="menu-icon icon-star-empty icon-favorite tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Enregistrer comme favoris"></span>
          <span class="menu-element-item-text">Enregistrer</span>
        </div>
        <div class="menu-element-item item-remove-favorite" style="display:none">
          <span class="menu-icon icon-star-full icon-favorite tooltipped"
          data-position="top" data-delay="0" data-tooltip="Retirer des favoris"></span>
          <span class="menu-element-item-text favorite">Enregistré</span>
        </div>
        <div class="menu-element-item item-share">
          <span class="menu-icon icon-share-alt tooltipped"
          data-position="top" data-delay="0" data-tooltip="Partager l'URL"></span>
          <span class="menu-element-item-text">Partager l'URL</span>
        </div>
        <div class="menu-element-item item-directions">
          <span class="menu-icon icon-directions tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Itinéraire vers cet élément"></span>
          <span class="menu-element-item-text">Itinéraire</span>
        </div>
        <div class="menu-element-item item-edit">
          <span class="menu-icon icon-edit tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Proposer des modifications"></span>
          <span class="menu-element-item-text">Proposer des modifications</span>
        </div>
        <div class="menu-element-item item-delete"> 
          <span class="menu-icon btn-delete icon-exclamation-1 tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Signaler une erreur"></span>
          <span class="menu-element-item-text">Signaler une erreur</span>
        </div>  
            
      </div> 
    {% endif %}
  
    {# Body Main Container #}
    <div class="collapsible-body-main-content"> 

      {# Contact infos #}
      <h3>Infos</h3>   
      <div class="section row sectionInfos">

        {# Address #}
        <span class="col s12 address">{{ element.address|capitalize }}</span>
        
        {# Tel #}
        {% if element.tel %}
          <span class="col s12 tel">{{ element.tel }}</span>
        {% endif %}

        {# Mail #}
        {% if element.mail %}
          <span class="col s12 tel"><a href="mailto:{{ element.mail }}">{{ element.mail }}</a>
          </span>
        {% endif %}

        {# WebSite #}
        {% if element.webSite %}
          <span class="col s12 tel"><a href="{{ element.webSite }}" target="_blank">{{ element.webSite }}</a>
          </span>
        {% endif %}

      </div>
      <div class="divider"></div>
      
      {# Categories  #}
      <h3>Les catégories</h3> 
      <div class="section row categories">
        
        {% include '@directory/directory/twig-js-templates/element-info-category-value.html.twig' with { 'categoryValue' : mainCategoryValue, 'subcategoriesCount' : 1 } %}  

      </div>
      <div class="divider"></div>

      {# Open Hours #}
      <h3>Horaires d'ouverture</h3>   
      <div class="section row sectionOpenHourss">  
        {% set count = 0 %} 

        {% for key, horaire in element.getFormatedOpenHourss() %} 
          {% if horaire != null %}

            <div class='row'>
              <span class="col s3 day">{{ key|capitalize }}</span>
              <span class="col s9 openHours">{{ horaire }} </span>
            </div>
            {% set count = count + 1 %} 

          {% endif %}
        {% endfor %}  

        {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %} 
      
      </div> 

    </div>
  </div>
</li>

