{% twig_js name="biopen_twigJs_elementInfo" %}

{# -------------- #}
{#  ELEMENT INFO  #}
{# -------------- #}
<li id="element-info-{{ element.id }}" 
    class="element-item" 
    data-element-id="{{ element.id }}">

  {# HEADER #}
  <div class="collapsible-header {{ element.type }}">
    
    {# Header Title #}
    <div class='collapsible-header-title row {{element.mainProduct|lower}} {{element.type}}'> 

      <span class="col s12 name">

        {# Icons #}
        <span class="element-main-icon icon icon-{{element.mainProduct|lower}} hideOnLargeScreen"></span>
        <span class="star-names-icons">
          {% for starName in starNames %} 
              <span class="icon icon-{{starName}}"></span>
            {% endfor %}
        </span>   
           
        {# Distance and Close Button #}
        <span class="icon icon-close" id="btn-close-bandeau-detail"></span>
        {% if element.distance != null %}
          <span class="right-align distance">~ {{ element.distance }} km</span>
        {% endif %}  

        {# Name #}
        {{ element.name|capitalize }}

      </span>
      
    </div>

    {# Header More #}
    <div class='collapsible-header-more row'>

      {# Description #}
      <span class="description col s12">{{ element.description|capitalize }}</span> 

      {# Products litteral #}
      <span class="products col s8 hideOnLargeScreen">

         {% if element.isProducteurOrAmap() or productsToDisplay.others.length == 0 %}
            {{ productsToDisplay.main.value|capitalize }} 
            {% if productsToDisplay.others.length != 0 %}, {% endif %}
         {% endif %}

         {% for product in productsToDisplay.others %} 
            {% set isDisabled = product.disabled ? 'disabled' : '' %}
            <span class="product {{isDisabled}}">{{ product.value|capitalize }} </span>
            {% if not loop.last %}, {% endif %}
        {% endfor %}

      </span>

      {# Select as Representant (constellation mode) #}
      <span class="col s4 right-align btn-select-as-representant-container" style="display:none">
        <button class="btn btn-select-as-representant waves-effect waves-light" >Sélectionner</button> 
      </span>

      {# Representant Label(constellation mode) #}
      <span class="col s4 right-align starRespresentantLabel" style="display:none">Element principal</span>

      {# Toggle Details Buttons #}
      <a><span class="col s4 right-align moreInfos hideOnLargeScreen">Plus d'infos</span></a>
      <a><span class="col s4 right-align lessInfos hideOnLargeScreen" style="display:none">Moins d'infos</span></a>

    </div>

  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails custom-scroll-bar" > 
  
    {# Menu in constellation mode #}
    {% if constellationMode %}
      <div class="menu-element {{ element.type }}">      
        <center>
          <span class="menu-icon icon-directions tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Itinéraire vers ce element"></span>
          <span class="menu-icon icon-edit tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Modifier ces informations"></span>
          <span class="menu-icon icon-delete tooltipped" 
          data-position="top" data-delay="0" data-tooltip="Supprimer ce element"></span>
          {# <button id="" class="btn waves-effect waves-light">Modifier</button>
          <button id="" class="btn waves-effect waves-light">Supprimer</button> #}
        </center>       
      </div> 
    {% endif %}
  
    {# Body Main Container #}
    <div class="collapsible-body-main-content"> 

      {# Contact infos #}
      <h3>Infos</h3>   
      <div class="section row sectionInfos">

        {# Address #}
        <span class="col s12 adresse">{{ element.adresse|capitalize }}</span>
        
        {# Tel #}
        {% if element.tel %}
          <span class="col s12 tel">{{ element.tel }}</span>
        {% endif %}

        {# Mail #}
        {% if element.mail %}
          <span class="col s12 tel"><a href="mailto:{{ element.mail }}">{{ element.mail }}</a>
          </span>
        {% endif %}

        {# WebSite #}
        {% if element.webSite %}
          <span class="col s12 tel"><a href="{{ element.webSite }}" target="_blank">{{ element.webSite }}</a>
          </span>
        {% endif %}

      </div>
      <div class="divider"></div>

      {# Products #}
      {% if element.type != 'epicerie' %}
        <h3>Les produits</h3>   
        <div class="section sectionDetailProducts"> 
          {% for product in element.products %} 
            {% set isDisabled = product.disabled ? 'disabled' : '' %}
            <div class='row {{ product.nameFormate }} {% if product.nameFormate == element.mainProduct %}strong{% endif %}'>
              <span class="col s6 m4 product {{ isDisabled }}">
                <span class="icon icon-{{ product.nameFormate }} {{ isDisabled }}"></span>            
                <span class="productName">{{ product.nameShort|capitalize }}</span> 
              </span>
              <span class="col s6 m8 detail {{ isDisabled }}">{{ product.descriptif|capitalize }}</span>
            </div>
          {% endfor %}          

        </div>       
        <div class="divider"></div>
      {% endif %}

      {# Open Hours #}
      <h3>Horaires</h3>   
      <div class="section row sectionHoraires">  
        {% set count = 0 %} 

        {% for key, horaire in element.getFormatedHoraires() %} 
          {% if horaire != null %}

            <div class='row'>
              <span class="col s3 day">{{ key|capitalize }}</span>
              <span class="col s9 horaires">{{ horaire }} </span>
            </div>
            {% set count = count + 1 %} 

          {% endif %}
        {% endfor %}  

        {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %} 
      
      </div> 
    </div>
  </div>
</li>

