{% twig_js name="biopen_twigJs_marker" %}

<div class="marker-name bgdColorAs" option-id={{element.colorOptionId}} style="display:none">{{ element.name | capitalize }}</div>

<div class="marker-wrapper colorAs" option-id="{{element.colorOptionId}}" id="marker-{{ element.id }}">

	<div class="rotate animate icon-marker"></div>
	
	<div class="iconInsideMarker-wrapper rotate">
		<div class="iconInsideMarker {{ mainOptionToDisplay.isDisabled ? 'disabled' : '' }} {{ mainOptionToDisplay.icon }}">
		</div>
	</div>

	{% set nbreOthersOptions = otherOptionsToDisplay.length %}	

	{% if nbreOthersOptions > 0 and showMoreIcon %}

		{% set widthMoreOption = nbreOthersOptions * 39 + 5  %}   	

    	<div class="icon-plus-circle animate rotate"></div>

    	<div class="moreIconContainer animate rotate" 
    		  style="width:{{ widthMoreOption }}px">
    	
			{% for otherOption in otherOptionsToDisplay %}

				{% set disableOption = otherOption.isDisabled ? 'disabled' : '' %}

				<div class="moreIconWrapper {{ disableOption }}"
						style="left:{{ 32 * loop.index0 }}px">
					<span class="moreIcon iconInsideMarker {{ disableOption }} {{ otherOption.icon }}">
					</span>
			 	</div>

			 {% endfor %}

		</div>

	{% endif %}

	{% if element.isFavorite %}
		<div class="icon-star-full animate rotate"></div>
	{% endif %}

</div>