{% twig_js name="biopen_twigJs_marker" %}

<div class="marker-name bgdColorAs {{pendingClass}}" option-id={{mainOptionValueToDisplay.colorOptionId}} style="display:none">{{ element.name | capitalize }}</div>

<div class="marker-wrapper colorAs {{pendingClass}}" option-id="{{mainOptionValueToDisplay.colorOptionId}}" id="marker-{{ element.id }}">

	<div class="rotate animate icon-marker"></div>
	
	<div class="iconInsideMarker-wrapper rotate">
		{% set mainIcon = element.isPending() ? 'icon-attention' :  mainOptionValueToDisplay.option.icon %}
		<div class="iconInsideMarker colorAs {{pendingClass}} {{ mainOptionValueToDisplay.isFilledByFilters ? '' : 'disabled' }} {{mainIcon}}" option-id={{ mainOptionValueToDisplay.option.color ? mainOptionValueToDisplay.optionId : mainOptionValueToDisplay.colorOptionId }}>
	</div>

	{% set nbreOthersOptions = otherOptionsValuesToDisplay.length %}	

	{% if nbreOthersOptions > 0 and showMoreIcon and not element.isPending() %}

		{% set widthMoreOption = nbreOthersOptions * 39 + 5  %}   	

    	<div class="icon-plus-circle animate rotate"></div>

    	<div class="moreIconContainer animate rotate" 
    		  style="width:{{ widthMoreOption }}px">
    	
			{% for otherOptionValue in otherOptionsValuesToDisplay %}

				{% set disableOption = otherOptionValue.isFilledByFilters == false ? 'disabled' : '' %}

				<div class="moreIconWrapper {{ disableOption }} {{ otherOptionValue.colorOptionId ? 'colorAs' : '' }} {{pendingClass}}" style="left:{{ 32 * loop.index0 }}px"
						option-id={{ otherOptionValue.colorOptionId }}>
					<span class="moreIcon iconInsideMarker {{ disableOption }} {{ otherOptionValue.option.icon }} colorAs {{pendingClass}}" option-id={{ otherOptionValue.option.color ? otherOptionValue.optionId : otherOptionValue.colorOptionId }}>
					</span>
			 	</div>

			 {% endfor %}

		</div>

	{% endif %}

	{% if element.isFavorite %}
		<div class="icon-star-full animate rotate"></div>
	{% endif %}

</div>