{% extends 'SonataAdminBundle::CRUD/base_edit.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}        
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if admin.id(object) is not null %}
        {% set currNode = object %}
        {% set isRootCategory = attribute(currNode, "isRootCategory") is defined ? currNode.isRootCategory : false %}
        
        <li class="active"><a href="#">{{ currNode.name }}</a></li>
        {% for i in 0..3 if not isRootCategory %}
            {% set currNode = currNode.parent %} 
            {% set is_category = attribute(currNode, "isRootCategory") is defined %}      
            {% set route_name = is_category ? 'admin_biopen_geodirectory_category_edit' : 'admin_biopen_geodirectory_option_edit' %}
            <li><a href={{ path(route_name, { id: currNode.id }) }}>{{ currNode.name }}</a></li>
            {% set isRootCategory = is_category ? currNode.isRootCategory : false %}
        {% endfor %}
        <li><a href={{ admin.generateUrl('list') }}>Liste des catégories</a></li>
        
    {% endif %}

    <style>
        .breadcrumb>li {
            float: right;
        }
        .breadcrumb>li+li:before { content: ""; padding: 0;}
        .breadcrumb>li+li:after {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }
    </style>
{% endblock %}

{% block form %}
    {# If Create, don't display sub options and sub categories creation #}
    {% if admin.id(object) is null %}
        <style>
            .sub-categories-container, .sub-options-container { display: none; }
        </style>
    {% endif %}
    {{ parent() }}
{% endblock %}





