{% extends "::bundle_layout.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

 	<link rel="stylesheet" href="{{ asset('assets/css/error.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	<h1>Oops! Une erreur s'est produite</h1>

    <div>
      La page demandée n'existe pas...
    </div>

{% endblock %}

{% block javascripts %}

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

  	<script src="{{ asset('js/libs.min.js') }}"></script>  
    <script src="{{ asset('assets/js/commons.js') }}"></script>


{% endblock %}