<!-- SECTION HORAIRES -->
<section id="horaires" class="">
	<h2 id="titre_horaires">Horaires (optionnel)</h2>
	<div class="row ">
	
	{% set key = 0 %}
	{# pour chaque jour de la semaine on crée un ligne pour entrée une plage horaire
	   une deuxième ligne cachée est crée pour pouvoir ajouter une deuxième plage si besoin #}
	{% for jour in form.horaires %}
		{# // div englobante pour un jour donnée, on la marque paire ou impaire pour 
		// changer la couleur de fond #}
		{% set class = key%2 == 0 ? 'horaire_container' : 'horaire_container impair' %}
		<div id="{{ key }}_horaire" class="{{ class }}">
		

		{# // première ligne de plage horaire #}
		<div id="{{ key }}_horaire_1" class="valign-wrapper">	
	  		
	  		{% if (jour.vars.name == "Lundi") %} 
	  			<div class="col s3">{{ jour.vars.name }}</div>
	  		{% else %}
	  			<div class="col s2 horaire_jour">{{ jour.vars.name }}</div>
	  			<div class="col s1 center-align"><a id="{{ key }}_redo" class="redo_plage_horaire btn-flat tooltipped" data-position="bottom" data-delay="250" data-tooltip="Recopier les horaires précédentes" style="padding:0;"><i class="material-icons">redo</i></a></div>	 
	  		{% endif %}
	  		
	  		<div class="col s1 center-align">De</div>
	  		<div class="col s3 center-align">
	  			{{ form_widget(jour.children.plage1debut, { 'id' : key ~'_input_1',
	  														
  							  'attr': {'class': 'timepicker_1',
  							  		   'type': 'time',
  									   'placeholder':'',
  									   'name' : key ~ '_horaire_1',
  									     }}) }}
	  		</div>
			<div class="col s1 center-align">à</div>
			<div class="col s3 center-align">
				{{ form_widget(jour.children.plage1fin, {'id': key ~'_input_2',
  							  'attr': {'class': 'timepicker_2',
  									   'placeholder':'',
  									   'name':'{{ key }}_horaire_2'   }}) }}
			</div>
			<div class="col s1 center-align"><a id="{{ key }}_ajout" class="ajout_plage_horaire btn-flat tooltipped" data-position="bottom" data-delay="250" data-tooltip="Ajouter plage horaire" style="padding:0;"><i class="material-icons">add_circle</i></a></div>
		</div>	

		
		{# // deuxième ligne de plagehoraire (cachée) #}
		<div id="{{ key }}_horaire_2" class="horaire_2 valign-wrapper">	
			<div class="col s1 offset-s3 center-align">Et</div>
	  		<div class="col s3 center-align">
	  			{{ form_widget(jour.children.plage2debut, {'id': key ~'_input_3',
  							  'attr': {'class': 'timepicker_3',
  									   'placeholder':'',
  									   'name':'{{ key }}_horaire_3'   }}) }}
  			</div>
			<div class="col s1 center-align">à</div>
			<div class="col s3 center-align">
				{{ form_widget(jour.children.plage2fin, {'id': key ~'_input_4',
  							  'attr': {'class': 'timepicker_4',
  									   'placeholder':'',
  									   'name':'{{ key }}_horaire_4'   }}) }}
  			</div>
			<div class="col s1 center-align"><a id="{{ key }}_clear" class="clear_plage_horaire btn-flat" style="padding:0;"><i class="material-icons">clear</i></a></div>
		</div>			

		</div>
		{% set key = key + 1 %}
		
	{% endfor %}

</div>
</section>
<div class="divider"></div>