<!-- SECTION PRODUITS -->
<section id="section_products">
	
	<h2 id="title-products">Produits du element</h2>

	<div class="row" id="div-main-product" style="display:none">
		<div class="input-field col s12">
	    <select id="main-product-selection" name="main-product-selection">
	   	   <option value=""  {% if not editMode %}disabled selected{% endif %}>Choisissez le produit principal</option>
	   	   
	      {% for product in listProducts %}
	      	<option value="{{product.nameFormate}}" {% if editMode and product.nameFormate == element.mainProduct %}selected{% endif %}>{{ product.name }}</option>
	      {% endfor %}
	    </select>
    	<label id="label-main-product-selection">Produit principal</label>
	  	</div>
	</div>


	<div class="row ">			
		{% for product in form.listeProducts %}
		    <div class="col s6 m4">	
		        {{ form_widget(product, {'attr': {'class': 'checkbox-products'}}) }}
		        {{ form_label(product) }} 
		    </div>
		{% endfor %}

		{# on compl?te avec des div vide le tableau de product #}
		<div class="col s{{ (form.listeProducts|length % 2)*6 }} m{{(3-(form.listeProducts|length % 3))*(form.listeProducts|length % 3)*4}}"></div>	
	</div>

	<!-- Espace pour préciser les type de products -->
	<div id="precisions">
		{# on cr?e un input textpour chaque products et on les cache tous
		quand on check un product on rend visible l'input correspondant #}
		{% for product in form.listeProducts %}			
			
			{% set descriptif = '' %}

			{# on cherche si ce produit est contenu dans le element #}
			{% if editMode and element is defined %}
				{% for elementProduct in element.products %} 					
			        {% if product.vars.name == elementProduct.id %}
			        	{% set descriptif = elementProduct.descriptif %}
			        {% endif %}
		      {% endfor %}   
			{% endif %}

			<div class="input-field" id="div_precision_{{ product.vars.value }}" {% if not product.vars.checked %} style="display:none" {% endif %}>	
			  	<input placeholder="Précisez si nécessaire :" id="input_precision_{{ product.vars.value }}" name="precision_{{ product.vars.value }}" type="text" length="80" value='{{ descriptif }}'>
		      	<label class="active label_precision" for="input_precision_{{ product.vars.value }}">{{ product.vars.label }}</label>
			</div> 
		{% endfor %}   
	</div>

</section>
<div class="divider" id="divider-products"></div>