{{ form_start(form, {'id': 'formElement'}) }}   

<section class="row" id="section_element" {% if editMode %}style="display:none"{% endif %} >
	<!-- Select element type-->
	<div class="input-field col s12">
    	{{ form_widget(form.type, {'id': "element-type"}) }}
    <label id="type-element-label">Type de element</label>
  	</div>
</section>
<div class="divider" {% if editMode %}style="display:none"{% endif %} ></div>

<!-- DIV ENGLOBANTE DES VRAIES INFOS FORMULAIRES -->
<div id="element-form-content" {% if not editMode %}style="height:0px;display:none"{% endif %}>

	{% include "::element-form/form-partials/generals-info.html.twig" %}

	{% include "::element-form/form-partials/products.html.twig" %}

	{% include "::element-form/form-partials/open-hours.html.twig" %}

	{% include "::element-form/form-partials/user.html.twig" %}	

	<section id="section-validate-and-send">
		<div id="captcha-error-message">Vous devez valider le captcha ci-dessous</div>
		<div id="captcha"></div>

		<center>
			<button onclick="checkAndSend()" type="button" class="btn waves-effect waves-light">Envoyer</button>
		</center>
    </section>
    <div class="divider"></div>

	{{ form_rest(form) }}

{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}

{% block modals %}
	<!-- Pop up plusieurs days de marchés -->
	<div id="modal-multiple-market-days" class="modal">
		<div class="modal-content">
		  <h5>Plusieurs days de marchés</h5>
		  <p>Vous avez renseigné plusieurs days d'ouverture pour ce marché, êtes vous certain que
		  	l'on retrouve les même products à ces différentes date?</p>
		  	<p>Si ce n'est pas le cas, il est préférable de faire des ajouts distincts, un pour chaque day
		  		de marché</p>
		</div>
		<div class="modal-footer">
			<a href="#continuer" class=" modal-action modal-close waves-effect waves-teal btn-flat">Continuer</a>
		 	<a href="#modifier" class=" modal-action modal-close waves-effect waves-teal btn-flat">Modifier</a>
		</div>
	</div>

	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script>
		var editMode = false;
		{% if editMode %} editMode = true; {% endif %}
	</script>

    {% javascripts filter="?jsqueeze"
		'bundles/fosjsrouting/js/router.js'
        "js/libs.min.js"	
        "js/element-form.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
	</script>

	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCaptcha&render=explicit"
        async defer>
    </script>
{% endblock %}