{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# CKEDITOR FORMATTER #}
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />

    <style>
        .side-bar-links {
            margin-left: 15px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .side-bar-links > a { color:white !important; }
        .side-bar-links .dropdown-menu>li>a {
            color: #777;
        }

        .bs-callout {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
            background-color: white;
        }

        .bs-callout-danger { border-left-color: #ce4844; }

        .btn i { margin-right: 6px; }
        .btn i + i { margin-left: -4px; }
    </style>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/xmoncolorpickertype/js/jscolor.min.js') }}" type="text/javascript"></script>

    {# CKEDITOR FORMATTER #}
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>

    <script>
    // bootstrap-ckeditor-modal-fix.js
    // hack to fix ckeditor/bootstrap compatiability bug when ckeditor appears in a bootstrap modal dialog
    //
    // Include this AFTER both bootstrap and ckeditor are loaded.

    $.fn.modal.Constructor.prototype.enforceFocus = function() {
      modal_this = this;
      console.log("enforce focus");
      $(document).on('focusin.modal', function (e) {
        if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length 
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') 
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
        }
      })
    };

    window.SONATA_CONFIG.CONFIRM_EXIT = false;
    </script>

{% endblock %}

{% block sonata_sidebar_search %}
    <div class="btn-group side-bar-links">
      <a type="button" href={{ path('biopen_homepage') }} target='_blank' class="btn btn-primary">Retour au site</a>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href={{ path('biopen_directory') }} target='_blank'>La Carte</a></li>
        <li><a href={{ path('biopen_element_add') }} target='_blank'>Formulaire</a></li>
        <li><a href={{ path('biopen_partners') }} target='_blank'>Qui sommes nous</a></li>
      </ul>
    </div>    
{% endblock %}

{% block side_bar_after_nav %} 
    {# CUSTOM Menu #}
    <ul class="sidebar-menu">
        <li class="first treeview">            
            <a href="{{ path('biopen_bulk_actions_index') }}"><i class="fa fa-bullhorn"></i><span>Actions de masse</span>{#<i class="fa pull-right fa-angle-left"></i>#}</a>                
            {#<ul class="active treeview-menu menu_level_1">
                <li class="first">
                    <a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Onglets "A propos"</a>        
                </li>
            </ul>#}
        </li>
    </ul>
{% endblock %}