{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# CKEDITOR FORMATTER #}
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />

    <style>
        .side-bar-links {
            margin-left: 30px;
            margin-top: 10px;
            color: white;
        }
        .side-bar-links > a {
            margin: 0 8px;
            text-transform: uppercase;
        }
        .side-bar-links > a:hover { text-decoration: underline; }
    </style>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/xmoncolorpickertype/js/jscolor.min.js') }}" type="text/javascript"></script>

    {# CKEDITOR FORMATTER #}
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>

{% endblock %}

{% block sonata_sidebar_search %}
    <p class="side-bar-links">
        <a href={{ path('biopen_homepage') }} target='_blank'>Le site</a>
        <span> | </span> 
        <a href={{ path('biopen_directory') }} target='_blank'>La carte</a>
    </p>
{% endblock %}