<div><a href={{ path('biopen_bulk_actions_update_json') }}>Update Json representations</a></div>
<div><a href={{ path('biopen_bulk_actions_update_options_string') }}>Update options string</a></div>
<div><a href={{ path('biopen_bulk_actions_update_gamification') }}>Update user gamification</a></div>

<div><a href={{ path('biopen_bulk_actions_detect_duplicates') }}>Detection doublon</a></div>
<div><a href={{ path('biopen_bulk_actions_delete_element_reported') }}>Supprimer les éléments reportés comme n'existant plus</a></div>




