<header>

<nav>
	<div id="menu" class="row ">

		<div class="col menu-item" id="menu-home">			
			<a href="{{ path('biopen_homepage') }}" class="small-logo">M</a> 
			<a href="{{ path('biopen_homepage') }}" class="large-logo">Mon voisin fait du bio</a> 
		</div>
		<div id="menu-actions">
			<div class="col menu-item">
			  <a href="{{ path('biopen_directory_normal', { mode : 'carte'} ) }}">Annuaire</a>  
				<!-- <a id="btn-menu-directory" >Annuaire</a>  -->
			</div>

			<!-- <div class="col menu-item">
				<a id="btn-menu-constellation">AUTOUR DE MOI</a> 
			</div>	 -->		

			<div class="col menu-item">
				<a href="{{ path('biopen_element_add') }}">Signaler un acteur</a>  
			</div>

			<div class="col menu-item">
				<a href="{{ path('biopen_partners') }}">Partenaires</a>  
			</div>	
                        
            </ul>
            <div class="col menu-item">
            <a class='dropdown-button' href='#' data-activates='listAbout'>A propos</a>
            </div>            
            <ul id='listAbout' class='dropdown-content'>
            {% for about in listAbouts %}
            <li><a class="modal-trigger" href='#modal{{about.id}}'>{{about.name}}</a></li>
            <li class="divider"></li>
            <div id='modal{{about.id}}' class="modal">
            <div class="modal-content">
            <h4>{{about.name}}</h4>
            <p>{{about.content}}</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Compris !</a>
            </div>
            </div>
            {% endfor %}
            
            </ul>

		</div>
		
	</div>
</nav> 

</header>