{% extends "::base_layout.html.twig" %}

{% block title %}Pages Vertes{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('assets/img/icon/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body %}

<section id="title">
	<span class="icon-business"></span>	
	<h1>Alimentation près de chez soi</h1>
</section>

<section id="mainFunctions">
	
	<div class="input-field" > 
		<input class="validate" placeholder="Entrez votre adresse ici" type="text" id="inputAdresse" name="adresse"/>
	</div>
	
	<div class="row">
		<div class="function col s4" id="constellation-zone">
			<div class="image-wrapper">
				<div class="image icon-constellation"></div>
			</div>
			<button id="btn_constellation" class="btn-flat waves-effect waves-light">Constellation</button>
			<div class="text">Visualisez en un coup d'oeil les fournisseurs les plus proches de chez vous</div>
		</div>

		<div class="function col s4" id="listing-zone">
			<div class="image-wrapper">
				<div class="image icon-icon-liste"></div>
			</div>
			<button id="btn_listing" class="btn-flat waves-effect waves-light">Liste</button>
			<div class="text">Naviguez librement sur la carte à la recherche des fournisseurs qui vous correspondent</div>

		</div>
	
		<div class="function col s4">
			<a href="{{ path('biopen_fournisseur_add') }}">
				<div class="image-wrapper"><div class="image icon-plus"></div></div>			
				<button class="btn-flat waves-effect waves-light">Ajouter Fournisseur</button>
			</a>
			<div class="text">Ajouter en quelques clicks un nouveau fournisseur dans notre base de donnée</div>

		</div>
	</div>

</section>
{% endblock %}



{% block javascripts %}

	{% javascripts filter="?jsqueeze"
		'bundles/fosjsrouting/js/router.js'
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/index.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
	</script>

{% endblock %}

