{% extends "::base_layout.html.twig" %}

{% block title %}Pages Vertes{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('assets/img/icon/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body %}

<section id="title">
	<span class="icon-business"></span>	
	<h1>Alimentation près de chez soi</h1>
	<div id='site-en-dev'>Site en cours de développement ! Les fournisseurs qui y sont listés sont factices, et des disfonctionnements restent possibles</div>
</section>

<section id="mainFunctions">
	
	<div class="input-field" > 
		<input class="validate" placeholder="Entrez votre adresse ici" type="text" id="inputAddress" name="adresse"/>
	</div>
	
	<div class="row">
		<div class="function" id="constellation-zone">
			<div class="image-wrapper">
				<div class="image icon-constellation"></div>
			</div>
			<h2>CONSTELLATION</h2>
			<p>Visualisez en un coup d'oeil les fournisseurs les plus proches de chez vous</p>
		</div>

		<div class="function" id="listing-zone">
			<div class="image-wrapper">
				<div class="image icon-icon-liste"></div>
			</div>	
			<h2>NAVIGATION</h2>		
			<p>				
				Naviguez librement sur la carte à la recherche des fournisseurs qui vous correspondent
			</p>

		</div>
	
		<div class="function">
			<div href="{{ path('biopen_fournisseur_add') }}">
				<div class="image-wrapper"><div class="image icon-plus"></div></div>			
				<h2>AJOUTER FOURNISSEUR</h2>			
				<p>Ajouter en quelques clicks un nouveau fournisseur dans notre base de donnée</p>
			</div>

		</div>
	</div>

</section>

<section id="open-source">
	<h2>OPEN SOURCE</h2>
	<p>Ce site est développé bénévolement pour un usage gratuit, et libre de droits. Le but est de fournir une cartographie ergonomique des fournisseurs de type : producteurs, amap, marchés, boutique de producteurs, épiceries...</p>
	<p>Les fournisseurs répértoriés sur ce site ce sont pas exclusivement sous label bio, mais certifient avoir des pratiques agronomiques respectueuses du sol et de l'environnement.</p>
</section>

<footer>
	Contact : <a href="mailto:90scastro@gmail.com">90scastro@gmail.com</a>
</footer>


{% endblock %}



{% block javascripts %}

	{% javascripts filter="?jsqueeze"
		'bundles/fosjsrouting/js/router.js'
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/commons.js"
        "assets/js/components/inputAddress.js"
        "assets/js/index.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
	</script>

{% endblock %}

