{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'directory' %}

{% block title %}{% endblock %}

{# Stylessheets #}
{% block stylesheets %}
  
  <link rel="stylesheet" href="{{ asset('assets/css/pages.css') }}">
  <link rel="stylesheet" href="{{ asset('../node_modules/GoGoCartoJs/dist/gogocarto.css') }}">   

{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

  <div id="directory-container"></div>

{% endblock %}

{% block javascripts %}  
  
  {#<script src="{{ asset('js/libs.js') }}"></script>  #}
  
  {# in production environnement we concat alls theses following javascript into the directory.js file #}
  {% if app.environment == 'dev' %}    
    <script src="{{ asset('../node_modules/GoGoCartoJs/dist/gogocarto.js') }}"></script>
  {% else %}      
    <script src="{{ asset('js/directory_prod.js') }}"></script>
  {% endif %}  

  <script>

    $(document).ready(function()
    {
        carto = goGoCarto('#directory-container', {
            taxonomy: {{ mainCategoryJson | raw }},
            openHours: {{ openHoursCategoryJson | raw }},
            elementApiUrl: 'http://localhost/GoGoCarto/web/app_dev.php/api/element',
            elementInBoundsApiUrl: 'http://localhost/GoGoCarto/web/app_dev.php/api/elementsInBounds',
            searchApiUrl: 'http://localhost/GoGoCarto/web/app_dev.php/api/search',
            deleteApiUrl:'http://localhost/GoGoCarto/web/app_dev.php/interact/delete',
            reportApiUrl: 'http://localhost/GoGoCarto/web/app_dev.php/interact/report',
            voteApiUrl: 'http://localhost/GoGoCarto/web/app_dev.php/interact/vote',
            editElementUrl: 'http://localhost/GoGoCarto/web/app_dev.php/acteur/edit/',
            userRole: {{ isAdmin ? '2' : '0' }},
            loginAction: function() { $("#popup-login").openModal(); }
        });
    });   

  </script>  

{% endblock %}

