{% extends "::bundle-layout.html.twig" %}

{% block title %}{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('assets/img/icon/styles.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/directory.css') }}"> 
  <link rel="stylesheet" href="{{ asset('assets/css/base_directory.css') }}"> 

   {% include '@directory/directory/categories-styles.html.twig' %}

{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

<div id="directory-container">
  
  {# Menu #}
  <section id="directory-menu"> 
      {% include '@directory/directory/components/directory-menu/directory-menu.html.twig' %}    
  </section>
   
  {# The directory, map or list displaying, and element information bar #} 
  <section id="directory-content">
    
    {% include '@directory/directory/modals/too-many-markers.html.twig'  %}
    {% include '@directory/directory/modals/pick-address-for-directions.html.twig'  %}  
    {% include '@directory/directory/modals/share-element-url.html.twig'  %}  

    {% include '@directory/directory/components/spinner-loader.html.twig'  
              with {'id': 'directory-spinner-loader' }%}
    
  
    <div id="directory-content-map" style="display:none"> 
      <div id="directory-loading" style="display:none">
        Chargement...
      </div>   
      <div class="show-as-list-button"><i class="icon-list"></i>Afficher sous forme de liste</div>  
      {# button for openning menu in small screens #}
      <div id="menu-button"><i class='icon-menu'></i></div> 
    </div>       

    <div id="directory-content-list" style="display:none">
      <div class="element-list-title-bar">
        Résultats
        <span class="element-list-title-number-results"></span>
        <span class="element-list-title-text"></span>        
        <span class="show-as-map-button">Retour à la carte</span>
        <div class='shadow-bottom'></div>
      </div>
      <ul class="collapsible popout custom-scroll-bar" data-collapsible="accordion">
      </ul>
    </div>

    {# <div id="directions-result-container">
        <span id="distance-value">9,6km</span>
        <span id="duration-value">13 minutes</span>
    </div> #}

    {# section conntaining information one a specific element #}
    <section id="element-info-bar" class="custom-scroll-bar inside-normal-mode" style="display:none">  
      
      {# container to receive the twig-js-template element-info, dynamically created #}
      <div id="element-info"></div> 

      {% include '@directory/directory/components/element-menu.html.twig' %}

    </section>

    {# overlay to partially mask the directory-content when openning menu in small screens #}
    <div id="overlay"></div>
  </section>  

</div>

{% endblock %}

{% block javascripts %}

  {# Making the routes accessibles from javascript #}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  
  {# FMS twig.js file, not necessary if twig js templates are generated via assetic
  but there is a bug in assetic dump with certains workspaces, so we include it
  when we want to use twig template in javascript by hand #}
  <script src="{{ asset('vendors/twig.js') }}"></script> 
  {# templates generated via the assetic:dump above #} 
  <script src="{{ asset('templates/directory-templates.js') }}"></script>  
  {# create dynamic js template 
  comment out the following lines and do "assetic:dump" to generate the new
  twig js template files #}
  {% javascripts filter="twig_js" output='templates/directory-templates.js'
    '../src/Biopen/GeoDirectoryBundle/Resources/views/directory/twig-js-templates/element-info.html.twig'
     '../src/Biopen/GeoDirectoryBundle/Resources/views/directory/twig-js-templates/marker.html.twig'     
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script src="{{ asset('js/libs.js') }}"></script>  
  <script src="{{ asset('vendors/leaflet-routing-machine.js') }}"></script>  
  <script src="{{ asset('js/directory.js') }}"></script>
  <script src="{{ asset('js/home.js') }}"></script>
  <script>

    //var ICON_DIRECTORY = "{{ asset('assets/img/icon/') }}";

    var CONFIG = {{ config | json_encode() | raw }};

    var MAIN_CATEGORY = {{ mainCategoryJson | raw }};

    var App;       

  </script>  

  {#<script src="https://www.google.com/recaptcha/api.js?onload=onloadCaptcha&render=explicit"
      async defer>
  </script>#}

{% endblock %}

{% block modals %} 

  {% include '@directory/directory/modals/delete-element.html.twig'  %}  

{% endblock %}

