{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'directory' %}

{% block title %}{% endblock %}

{# Stylessheets #}
{% block page_stylesheets %}
  
{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

  <div id="directory-container"></div>

{% endblock %}

{% block javascripts %}  

  <script>

    {% import _self as this %}

    $(document).ready(function()
    {
        carto = goGoCarto('#directory-container', {
            text:
            {
                element: '{{ config.elementDisplayName }}' ,
                elementDefinite: '{{ config.elementDisplayNameDefinite }}' ,
                elementIndefinite: '{{ config.elementDisplayNameIndefinite }}' ,
                elementPlural: '{{ config.elementDisplayNamePlural }}' ,
                collaborativeModeration: '{{ config.collaborativeModerationExplanations }}' ,
            },
            data:
            {
                taxonomy: {{ mainCategoryJson | raw }},
                openHours: {{ openHoursCategoryJson | raw }},
                elementApiUrl: "{{ path('biopen_api_element_by_id') }}",
                elementInBoundsApiUrl: "{{ path('biopen_api_elements_in_bounds') }}",
            },
            features:
            {
                search:   { url: "{{ path('biopen_api_elements_from_text') }}" },
                share:    {{ this.getConfigFrom(config.shareFeature,  path('biopen_report_error_for_element')) }},
                report:   {{ this.getConfigFrom(config.reportFeature, path('biopen_report_error_for_element')) }},
                favorite: {{ this.getConfigFrom(config.favoriteFeature) }},
                export:   {{ this.getConfigFrom(config.exportIframeFeature) }},
                pending:  {{ this.getConfigFrom(config.pendingFeature) }},
                directModeration:  {{ this.getConfigFrom(config.directModerationFeature) }},
                // desactivate add feature because we handle it in GoGoCarto Header
                add:      {active: false},
                // overide roles so even if edit is just allowed to user or admin, an anonymous will see
                // the edit button in the element info menu
                edit:     {{ this.getConfigFrom(
                                config.editFeature, 
                                path('biopen_element_edit', {'id':'fake'}) | replace({'fake':''}),
                                config.editFeature.isOnlyAllowedForAdmin ? {} : {roles: "['anonymous', 'user', 'admin']"}
                           ) }},
                delete:   {{ this.getConfigFrom(config.deleteFeature, path('biopen_delete_element')) }},

                vote:     {{ this.getConfigFrom(config.collaborativeModerationFeature, path('biopen_vote_for_element')) }}, 
                sendMail:     {{ this.getConfigFrom(config.sendMailFeature, path('biopen_element_send_mail')) }},    
            },
            security:
            {
                userRole: '{{ userGogocartoRole }}',
                loginAction: function() { $("#popup-login").openModal(); }
            },
            colors:
            {
                neutralDark: '{{ config.neutralDarkColor }}' ,
                neutralDarkTransparent: '{{ config.neutralDarkTransparentColor }}',
                neutralSoftDark: '{{ config.neutralSoftDarkColor }}',
                neutral: '{{ config.neutralColor }}',
                neutralLight: '{{ config.neutralLightColor }}',
                secondary: '{{ config.primaryColor }}',
                primary: '{{ config.secondaryColor }}',
                background: '{{ config.backgroundColor }}',

                textColor: '{{ config.textColor }}',
                searchBar: '{{ config.searchBarColor }}',
                disableColor: '{{ config.disableColor }}',
                listTitle: '{{ config.listTitleColor }}',
                listTitleBackBtn: '{{ config.listTitleBackBtnColor }}',
                listTitleBackground: '{{ config.listTitleBackgroundColor }}',

                mainFont: '{{ config.mainFont }}',
                titleFont: '{{ config.titleFont }}',
                taxonomyMainTitleFont: '{{ config.taxonomyMainTitleFont }}',  
            }     
        }); 
    });   

  </script>  

{% endblock %}

{% macro getConfigFrom(feature, path, overide) %}
    {% set overide = overide | default({}) %}
    { 
        {% if overide.active is defined %}
            active: {{ overide.active ? 'true' : 'false' }},
        {% else %}
            active: {{ feature.active ? 'true' : 'false' }},
        {% endif %} 
        inIframe: {{ feature.activeInIframe ? 'true' : 'false' }},
        url: "{{ path | default('') }}", 
        {% if overide.roles is defined %}
            roles: {{ overide.roles | raw }}
        {% else %}
            roles: {{ feature.getAllowedRoles | json_encode | raw }}
        {% endif %}
    }
{% endmacro %}



