{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'directory' %}

{% block title %}{% endblock %}

{# Stylessheets #}
{% block page_stylesheets %}
  
{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

  <div id="directory-container"></div>

{% endblock %}

{% block javascripts %}  

  <script>

    {% import _self as this %}

    $(document).ready(function()
    {
        // temporary manual colors
        var darkBlue = '#354254' ;
        var darkBlueTransparent = 'rgba(53, 66, 84, 0.9)' ;
        var softDarkblue = '#5c6c86' ;
        var blue = '#6b7e9b' ;
        var greyLight = '#f4f4f4' ;
        var blueLight = '#c2c9d4' ;
        var green = '#bdc900' ;
        var pink = '#bd2d86' ;

        var neutralDark = darkBlue ;
        var neutralDarkTransparent = darkBlueTransparent ;
        var neutralSoftDark = softDarkblue ;
        var neutral = blue ;
        var neutralLight = greyLight ;
        var secondary = green ;
        var primary = pink ;
        var background = greyLight ;

        var textColor = neutralDark ;
        var disableColor = blueLight ;
        var listTitle = neutralDark ;
        var listTitleBackBtn = neutralDark;
        var listTitleBackground = background ;

        var mainFont = 'Roboto' ;
        var titleFont = 'Lobster' ;
        var taxonomyMainTitleFont = titleFont ;  

        carto = goGoCarto('#directory-container', {
            data:
            {
                taxonomy: {{ mainCategoryJson | raw }},
                openHours: {{ openHoursCategoryJson | raw }},
                elementApiUrl: "{{ path('biopen_api_element_by_id') }}",
                elementInBoundsApiUrl: "{{ path('biopen_api_elements_in_bounds') }}",
            },
            features:
            {
                search:   { url: "{{ path('biopen_api_elements_from_text') }}" },
                share:    {{ this.getConfigFrom(config.shareFeature,  path('biopen_report_error_for_element')) }},
                report:   {{ this.getConfigFrom(config.reportFeature, path('biopen_report_error_for_element')) }},
                favorite: {{ this.getConfigFrom(config.favoriteFeature) }},
                export:   {{ this.getConfigFrom(config.exportIframeFeature) }},
                pending:  {{ this.getConfigFrom(config.pendingFeature) }},
                // desactivate add feature because we handle it in GoGoCarto Header
                add:      {active: false},
                // overide roles so even if edit is just allowed to user or admin, an anonymous will see
                // the edit button in the element info menu
                edit:     {{ this.getConfigFrom(
                                config.editFeature, 
                                path('biopen_element_edit', {'id':'fake'}) | replace({'fake':''}),
                                config.editFeature.isOnlyAllowedForAdmin ? {} : {roles: "['anonymous', 'user', 'admin']"}
                           ) }},
                delete:   {{ this.getConfigFrom(config.deleteFeature, path('biopen_delete_element')) }},

                vote:     {{ this.getConfigFrom(config.collaborativeModerationFeature, path('biopen_vote_for_element')) }},     
            },
            security:
            {
                userRole: '{{ userGogocartoRole }}',
                loginAction: function() { $("#popup-login").openModal(); }
            },
            colors:
            {
                neutralDark: darkBlue ,
                neutralDarkTransparent: darkBlueTransparent ,
                neutralSoftDark: softDarkblue ,
                neutral: blue ,
                neutralLight: greyLight ,
                secondary: green ,
                primary: pink ,
                background: greyLight ,

                textColor: neutralDark,
                searchBar: neutral,
                disableColor: blueLight ,
                listTitle: neutralDark ,
                listTitleBackBtn: listTitleBackBtn,
                listTitleBackground: background ,

                mainFont: 'Roboto' ,
                titleFont: 'Lobster' ,
                taxonomyMainTitleFont: titleFont ,  
            }     
        }); 
    });   

  </script>  

{% endblock %}

{% macro getConfigFrom(feature, path, overide) %}
    {% set overide = overide | default({}) %}
    { 
        {% if overide.active is defined %}
            active: {{ overide.active ? 'true' : 'false' }},
        {% else %}
            active: {{ feature.active ? 'true' : 'false' }},
        {% endif %} 
        inIframe: {{ feature.activeInIframe ? 'true' : 'false' }},
        url: "{{ path | default('') }}", 
        {% if overide.roles is defined %}
            roles: {{ overide.roles | raw }}
        {% else %}
            roles: {{ feature.getAllowedRoles | json_encode | raw }}
        {% endif %}
    }
{% endmacro %}



