<div class="category-wrapper depth-{{category.depth}}" {% if showSubcategories is defined and not showSubcategories%} style="display:none"{% endif %}>

	{# ---- CATEGORY TITLE IF REQUIRED ----- #}
	{% if category.displayCategoryName %}
	<li class="subcategory-item tooltipped expanded" id="category-{{category.id}}" data-position="right" data-delay="0" data-tooltip="Afficher/Masquer le détail">

		{# --- ICON & NAME--- #}
		<div class="name-wrapper" data-category-id='{{ category.id }}' >		
			<span class="name">
				{{ category.name|capitalize }}		
			</span>
			<div class="arrow-after"></div>	
		</div>

		{# --- CHECKBOX ---- #}
		<div class="checkbox-wrapper" data-category-id='{{ category.id }}' >
			<div class="checkbox-container">
		      <input type="checkbox" class="subcategorie-checkbox filled-in" id="subcategorie-checkbox-{{ category.id }}" checked="checked" data-category-id='{{ category.id }}'/>
		      <label for="subcategorie-checkbox-{{ category.id }}"></label>
			</div>
		</div>
	</li>
	{% endif %}

	{# ---- CATEGORY LIST OPTIONS ----- #}
	<div class="options-wrapper">

	{% for key, option in category.options %} 

		{% set isSubcategories = recursive and option.subcategories|length %}
	   
	    <li class="subcategorie-option-item row {{ isSubcategories ? 'option-collapsible tooltipped' : ''}} {{ option.showSubcategories ? 'expanded' : '' }}"    		
	    		id="option-{{ option.id }}"
	    		{% if isSubcategories %}data-position="right" data-delay="0" data-tooltip="Afficher/Masquer le détail"{% endif %}
	    		>
	    	
	    		{# --- ICON & NAME--- #}
	    		<div class="icon-name-wrapper" data-option-id='{{ option.id }}' >

						{# --- ICON ---- #}
						{% set iconClass = option.useColorForMarker ? 'icon-marker' : option.icon %}	    
						<span class="icon {{ iconClass }} {{option.name|lower }}"></span>

						{# --- NAME ---- #}
						<span class="option-name">{{ option.nameShort|capitalize }}</span> 

						{# --- ARROW COLAPSIBLE ---- #}
						{% if isSubcategories %}<div class="arrow-after"></div>{% endif %}
						
					</div>

					{# --- SHOW ONLY---- #}
					<!-- <span class="icon btn-show-only icon-material-eye"></span>  -->

					{# --- CHECKBOX ---- #}
					<div class="checkbox-wrapper">
						<div class="checkbox-container">
						  <input type="checkbox" class="subcategorie-option-checkbox {{ isSubcategories ? 'tooltipped' : ''}}" data-option-id='{{ option.id }}' 
						  id="option-checkbox-{{ option.id }}" checked="checked"  {% if isSubcategories %} data-position="right" data-delay="0" data-tooltip="Cocher/Décocher tout"{% endif %}/>
						  <label for="option-checkbox-{{ option.id }}"></label>
						</div>
					</div>

	    </li>

	    {% if recursive %}
		    {% for subkey, subcategory in option.subcategories %}

						{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
		        						with {'category': subcategory, 'recursive': true, 'showSubcategories' : option.showSubcategories} %}

				{% endfor %} 
			{% endif %}

	 {% endfor %}

	 </div>

 </div>