{% if category.displayCategoryName %}
<li class="subcategory-item" id="category-{{category.id}}">
	{{ category.name|capitalize }}
	<span class="checkbox-wrapper">
      <input type="checkbox" class="subcategorie-checkbox filled-in" id="subcategorie-checkbox-{{ category.id }}" checked="checked" data-category-id='{{ category.id }}'/>
      <label for="subcategorie-checkbox-{{ category.id }}"></label>
	</span>
</li>
{% endif %}

{% for key, option in category.options %} 
   
    <li class="subcategorie-option-item row" data-option-id='{{ option.id }}' id="option-{{ option.id }}">
    	{% set iconClass = option.useColorForMarker ? 'icon-marker' : option.icon %}
	    <span class="icon {{ iconClass }} {{option.name|lower }}"></span>
	    <span class="option-name">{{ option.nameShort|capitalize }}</span> 
	    <span class="icon btn-show-only icon-material-eye"></span>
	    <span class="checkbox-wrapper">
	      <input type="checkbox" class="product-checkbox subcategorie-option-checkbox" 
	      id="option-checkbox-{{ option.id }}" checked="checked" />
	      <label for="option-checkbox-{{ option.id }}"></label>
	    </span>
    </li>

 {% endfor %}