<div class="category-wrapper depth-{{category.depth}}" >

	{# ---- CATEGORY TITLE IF REQUIRED ----- #}
	{% if category.displayCategoryName %}
	<li class="subcategory-item {{ category.showExpanded ? 'expanded' : '' }} {{ category.unexpandable ? 'unexpandable' : '' }}" id="category-{{category.id}}">

		{# --- ICON & NAME--- #}
		<div class="name-wrapper {{ category.unexpandable ? '' : 'tooltipped' }}" data-category-id='{{ category.id }}' data-position="right" data-delay="400" data-tooltip="Afficher/Masquer le détail" >		
			<span class="name">
				{{ category.name|capitalize }}		
			</span>
			{% if not category.unexpandable %}<div class="arrow-after"></div>	{% endif %}
		</div>

		{# --- CHECKBOX ---- #}
		<div class="checkbox-wrapper" data-category-id='{{ category.id }}'>
			<div class="checkbox-container">
		      <input type="checkbox" class="subcategorie-checkbox filled-in" id="subcategorie-checkbox-{{ category.id }}" checked="checked" data-category-id='{{ category.id }}'/>
		      <label for="subcategorie-checkbox-{{ category.id }}"></label>
			</div>
		</div>
	</li>
	{% endif %}

	{# ---- CATEGORY LIST OPTIONS ----- #}
	<div class="options-wrapper" {% if not category.showExpanded %} style="display:none"{% endif %}>

	{% for key, option in category.options | sortbyfield('index') %} 

		{% set isSubcategories = recursive and option.subcategories|length %}

	    <li class="subcategorie-option-item row {{isSubcategories ? 'option-collapsible' : ''}} {{ option.showExpanded ? 'expanded' : '' }}"    		
	    		id="option-{{ option.id }}"
	    		{% if not option.displayOption %} style="display:none"{% endif %}>
	    	
	    		{# --- ICON & NAME--- #}
	    		<div class="icon-name-wrapper {{isSubcategories ? 'tooltipped' : ''}}" data-option-id='{{ option.id }}' 
	    					{% if isSubcategories %}data-position="right" data-delay="400" data-tooltip="Afficher/Masquer le détail"{% endif %}>

						{# --- ICON ---- #}
						{% set iconClass = option.icon ? option.icon : option.useColorForMarker ? 'icon-marker' : '' %}	
						{% if iconClass %}    
							<span class="icon {{ iconClass }} colorAs" option-id='{{ option.id }}' ></span>
						{% endif %}



						{# --- NAME ---- #}
						<span class="option-name">{{ option.nameShort }}</span> 

						{# --- ARROW COLAPSIBLE ---- #}
						{% if isSubcategories %}<div class="arrow-after"></div>{% endif %}
						
					</div>

					{# --- SHOW ONLY---- #}
					<!-- <span class="icon btn-show-only icon-material-eye"></span>  -->

					{# --- CHECKBOX ---- #}
					<div class="checkbox-wrapper" data-option-id='{{ option.id }}' >
						<div class="checkbox-container">
						  <input type="checkbox" class="subcategorie-option-checkbox {{ isSubcategories ? 'tooltipped' : ''}}" 
						  id="option-checkbox-{{ option.id }}" checked="checked"  {% if isSubcategories %} data-position="right" data-delay="400" data-tooltip="Cocher/Décocher tout"{% endif %}/>
						  <label for="option-checkbox-{{ option.id }}"></label>
						</div>
					</div>

	    </li>

	    {% if recursive %}
	    	<div class="subcategories-wrapper" {% if option.showExpanded is defined and not option.showExpanded%} style="display:none"{% endif %}>
		    {% for subkey, subcategory in option.subcategories %}

						{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
		        						with {'category': subcategory, 'recursive': true } %}

				{% endfor %} 
				</div>
			{% endif %}

	 {% endfor %}

	 </div>

 </div>