<div class="filter-menu">	

	<div class="main-categories">

		<div class="icon main-icon active icon-users" id="main-option-icon-all" data-option-id="all" data-position="right" data-delay="0" data-tooltip="Tous les acteurs"></div> 

		{% for key, mainOption in mainCategory.options %}

			<div class="icon main-icon {{ mainOption.icon }}"  id="main-option-icon-{{mainOption.id}}" data-option-id="{{ mainOption.id }}" data-position="right" data-delay="0" data-tooltip="{{ mainOption.name }}"></div> 

		{% endfor %}

	</div>

	<div class="sub-categories">

		<div class="sub-categorie-main-title" id="menu-subcategories-title">Tous les acteurs</div>

			<div class="sub-categories-content">
			<ul>

				{# FAVORITE #}
				<li class="subcategorie-option-item row" id="filter-favorite" data-position="right" data-delay="300" data-tooltip="Afficher uniquement les favoris">
						    <span class="icon icon-star-full"></span>
						    <span class="option-name">Favoris</span> 

						    {# --- CHECKBOX ---- #}
								<div class="checkbox-wrapper">
									<div class="checkbox-container">
							      <input type="checkbox" class="subcategorie-option-checkbox favorite-checkbox" id="favorite-checkbox" data-type='favorite' data="favorite" />
							      <label for="favorite-checkbox" ></label>
						    	</div>
						    </div>
				</li>

				{# ALL CATEGORIES MENU #}
				<div id="main-option-all" class="main-option-subcategories-container">		

				{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
            						with {'category': mainCategory, 'recursive': false } %}

				</div>

				{# MAIN OPTIONS MENU #}
				{% for key, mainOption in mainCategory.options %}

					<div id="main-option-{{ mainOption.id }}" class="main-option-subcategories-container" style="display:none">		

					{% for key, category in mainOption.subcategories %}

							{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
              						with {'category': category, 'recursive': true } %}

					{% endfor %} 

					</div>

				{% endfor %}

				{# OPEN HOURS FILTER #}
				<div id="open-hours-filter" style="display:none">

					<li class="subcategory-item tooltipped" data-position="right" data-delay="0" data-tooltip="Afficher/Masquer le détail">
						Horaires d'ouverture
						<div class="checkbox-wrapper">
							<div class="checkbox-container">
								<input type="checkbox" class=" subcategorie-checkbox filled-in" id="subcategorie-checkbox-day" checked="checked" data-type='day'/>
								<label for="subcategorie-checkbox-day"></label>
							</div>
						 </div>
					</li>

					{% set days = ['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'] %}

					<div class="options-wrapper">

					{% for day in days %}
						<li class="subcategorie-option-item row">
						    <span class="icon icon-day"></span>
						    <span class="dayName">{{ day|capitalize }}</span> 
						    {# --- CHECKBOX ---- #}
								<div class="checkbox-wrapper">
									<div class="checkbox-container">
							      <input type="checkbox" class="day-checkbox subcategorie-option-checkbox" id="days-checkbox-{{ day }}" checked="checked" data-type='day' data="{{ day }}"/>
							      <label for="days-checkbox-{{ day }}"></label>
						    	</div>
						    </div>
						</li>
					{% endfor %}

					</div>
				</div>

		</ul>
		</div>

	</div>
</div>
			