<div class="filter-menu">	

	{# MAIN CATEGORIE SIDE BAR #}
	<div class="main-categories">

		<div class="icon main-icon-background" id="active-main-option-background"></div>

		<div class="icon main-icon active icon-users" id="main-option-icon-all" data-option-id="all">
			<div class="main-option-tooltip">Tous les acteurs</div>
		</div> 

		{# MAIN OPTIONS ICONS & TOOLTIP #}
		{% for key, mainOption in mainCategory.options | sortbyfield('index')%}

			<div class="icon main-icon {{ mainOption.icon }}"  id="main-option-icon-{{mainOption.id}}" data-option-id="{{ mainOption.id }}">
				<div class="main-option-tooltip">{{ mainOption.name }}</div>
			</div>

		{% endfor %}

	</div>

	<div class="sub-categories">

		<div class="sub-categorie-main-title" id="menu-subcategories-title">Tous les acteurs</div>

			<div class="sub-categories-content">
			<ul>

				{# FAVORITE #}
				<li class="subcategorie-option-item row" id="filter-favorite" data-position="right" data-delay="300" data-tooltip="Afficher uniquement les favoris">
			    <span class="icon icon-star-full"></span>
			    <span class="option-name">Favoris</span> 

			    {# --- CHECKBOX ---- #}
					<div class="checkbox-wrapper">
						<div class="checkbox-container">
				      <input type="checkbox" class="subcategorie-option-checkbox favorite-checkbox" id="favorite-checkbox" data-type='favorite' data="favorite" />
				      <label for="favorite-checkbox" ></label>
			    	</div>
			    </div>
				</li>

				{# ELEMENT WITH PENDING STATUS#}
				<li class="subcategorie-option-item row" id="filter-pending" data-position="right" data-delay="300" data-tooltip="Afficher les éléments en attente de validation">
			    <span class="icon icon-attention"></span>
			    {% if is_granted('ROLE_ADMIN') %}
			    	<span class="option-name">Attente validation</span><span class="icon icon-eye" id="show-only-pending"></span></span> 
		    	{% else %}
		    		<span class="option-name"><span class="validation-process-info">En cours de validation</span></span> 
		    	{% endif %}

			    {# --- CHECKBOX ---- #}
					<div class="checkbox-wrapper">
						<div class="checkbox-container">
				      <input type="checkbox" checked class="subcategorie-option-checkbox pending-checkbox" id="pending-checkbox" data-type='pending' data="pending" />
				      <label for="pending-checkbox" ></label>
			    	</div>
			    </div>
				</li>

				{# ALL CATEGORIES MENU #}
				<div id="main-option-all" class="main-option-subcategories-container" style="display:none">		

				{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
            						with {'category': mainCategory, 'recursive': false } %}

				</div>

				{# MAIN OPTIONS MENU #}
				{% for key, mainOption in mainCategory.options %}

					<div id="main-option-{{ mainOption.id }}" class="main-option-subcategories-container" style="display:none">		

						{% for key, category in mainOption.subcategories %}

						{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
              						with {'category': category, 'recursive': true } %}

					{% endfor %} 

					</div>

				{% endfor %}

				{# OPEN HOURS FILTER #}
				<div id="open-hours-filter" class="" style="display:none">		

					{% include '@directory/directory/components/directory-menu/category-item.html.twig'  
            						with {'category': openHoursCategory, 'recursive': false } %}

				</div>

			</ul>
		</div>

	</div>
</div>
			