<!-- SECTION INFO FOURNISSEUR -->
<section>

	{#{% if not editMode %}
		<h2 class="no-margin-bottom">Informations</h2>
	{% else %}
		<h2 class="no-margin-bottom">Modification des données</h2>
	{% endif %}#}
	<h2 class="no-margin-bottom">Informations</h2>
  <!-- Input name element -->
  <div class="input-field col s12">
  		<i class="material-icons gogo-icon-account-circle prefix"></i>	
  		{{ form_widget(form.name, {'id': 'input-name', 
  							      'attr': {'class': 'validate required','placeholder':'Nom', 'length':'200'}}) }}
	</div>

		
	
	<!-- input description element -->
	<div class="input-field col s12">
		<i class="required material-icons gogo-icon-description prefix"></i>
	  	{{ form_widget(form.description, {'id': 'input-description',
  								          'attr': {'class': 'validate materialize-textarea',
  											   'placeholder':"Description générale",
  											   'length':'600' }}) }}
	</div>

  <!-- input commitmen -->
  {#<div class="input-field col s12">
    <i class="material-icons gogo-icon-description prefix"></i>
      {{ form_widget(form.commitment, {'id': 'input-commitment',
                            'attr': {'class': 'validate materialize-textarea',
                           'placeholder':"Engagement citoyen",
                           'length':'300'  }}) }}
  </div>#}


	<!-- Input adresse element -->
	<div class="input-field col s12">
	<i class="material-icons gogo-icon-marker-symbol prefix" id="input-address-icon-prefix"></i>	
  	{{ form_widget(form.address, {'id': 'input-address',
  								  'attr': {'class': 'validate required',
  								           'placeholder':'Adresse complète' 
  								  		   }}) }}
  	<div class="btn-geolocalize btn waves-effect waves-light">Localiser</div>
	
	</div>	

	<!-- HIDDEN input pour stocker valeur de la lat et lng -->
	{{ form_widget(form.coordinates.lat, {'id': 'input-latitude'}) }}	
	{{ form_widget(form.coordinates.lng, {'id': 'input-longitude'}) }}	
	{{ form_widget(form.postalCode, {'id': 'input-postal-code'}) }}						

	<!-- Map -->
	<div class="map-container col s12" style="position:relative">
		<div id="address-preview-map"></div>	

		{% include '@BiopenGeoDirectory/directory/components/spinner-loader.html.twig'  
              with {'id': 'geocode-spinner-loader' }%}
   </div>
</section>
<div class="divider"></div>

 <section id="optional-info-section">
 	<h2>Contact  <span class="optional">(optionnel)</span></h2>

	<!-- input telephone element -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-phone prefix"></i>
	  	{{ form_widget(form.tel, {'id': 'input-tel',
  							      'attr': {'class': 'validate',
  											   'placeholder':'Téléphone '   }}) }}
	</div>

	<!-- input element email -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-mail prefix"></i>	
		{{ form_widget(form.mail, {'id': 'input-mail',
  								      		   'attr': {'class': 'validate',
  											   			'placeholder':'Mail' }}) }}
	</div>

	<!-- input webSite element -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-internet prefix"></i>
	  	{{ form_widget(form.webSite, {'id': 'input-website',
  							      'attr': { 'class': 'validate',
  							      			'type':'url',
  											'placeholder':'Site internet'  }}) }}
	</div>	

	

 </section>
 <div class="divider"></div>