<!-- SECTION INFO FOURNISSEUR -->
<section>

	<h2 class="no-margin-bottom">Informations</h2>
  <!-- Input name element -->
  <div class="input-field col s12">
		<i class="material-icons gogo-icon-account-circle prefix"></i>	
		{{ form_widget(form.name, {'id': 'input-name', 
							      'attr': {'class': 'validate required', 'length':'80'}}) }}
    <label for="input-name" class="gogo-form-label" data-error="Oups, ce nom est trop long !">Titre de la fiche</label>
	</div>		
	
	<!-- input description element -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-description prefix"></i>
  	{{ form_widget(form.description, {'id': 'input-description',
								          'attr': {'class': 'required validate materialize-textarea',
											   'length':'250' }}) }}
    <label for="input-description" data-error="Oups, ce texte est un peu long ! Donne des précisions dans le champs suivant ;)" class="gogo-form-label">Description générale</label>
	</div>

  <!-- input description more element -->
  <div class="input-field col s12" style="display:none">
    <i class="material-icons gogo-icon-description prefix"></i>
    {{ form_widget(form.descriptionMore, {'id': 'input-description-more', 'placeholder':'salut',
                          'attr': {'class': 'validate materialize-textarea',
                         'length':'600' }}) }}
    <label for="input-description" data-error="Désolé, mais ce texte est un peu trop long !" class="gogo-form-label">Précisions</label>
  </div>

  <!-- input commitment -->
  <div class="input-field col s12">
    <i class="material-icons gogo-icon-description prefix"></i>
    {{ form_widget(form.commitment, {'id': 'input-commitment',
                          'attr': {'class': 'required required-only-add validate materialize-textarea',
                         'length':'400'  }}) }}
    <label for="input-commitment" data-error="Désolé, mais ce texte est un peu trop long !" class="gogo-form-label">Engagements citoyens <span class="more">/ exemples : activité d’utilité sociale, gouvernance coopérative, pratiques respectueuses de l’environnement... VOIR LA CHARTE ! </span></label>
  </div>

	
</section>
<div class="divider"></div>

 <section id="optional-info-section">
 	<h2>Contact  <span class="optional">(optionnel)</span></h2>

	<!-- input telephone element -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-phone prefix"></i>
	  	{{ form_widget(form.telephone, {'id': 'input-tel',
  							      'attr': {'class': 'validate',
  											   'placeholder':'Téléphone '   }}) }}
	</div>

	<!-- input element email -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-mail prefix"></i>	
		{{ form_widget(form.email, {'id': 'input-mail',
  								      		   'attr': {'class': 'validate',
  											   			'placeholder':'Mail' }}) }}
    <label for="input-mail" data-error="Veuillez renseigner une adresse mail valide" class="gogo-form-label"></label>
	</div>

	<!-- input webSite element -->
	<div class="input-field col s12">
		<i class="material-icons gogo-icon-internet prefix"></i>
	  	{{ form_widget(form.website, {'id': 'input-website',
  							      'attr': { 'class': 'validate',
  							      			'type':'url',
  											'placeholder':'Site internet'  }}) }}
	</div>	

	

 </section>
 <div class="divider"></div>