<div class="row ">
	
	{% set dayKey = 0 %}
	{% set frenchDays = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
	{% set frenchDaysShort = ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim'] %}

	{# pour chaque day de la semaine on crée un ligne pour entrée une plage horaire
	   une deuxième ligne cachée est crée pour pouvoir ajouter une deuxième plage si besoin #}
	{% for day in form.openHours %}
		{# // div englobante pour un day donnée, on la marque paire ou impaire pour 
		// changer la couleur de fond #}
		{% set isPair = dayKey%2 == 0 ? 'pair' : 'impair' %}
		{% set isSecondTimeSlot = day.children.slot2start.vars.value %}

		<div id="{{ dayKey }}-open-hours" class="open-hours-container {{ isPair }}">
		

		{# // première ligne de plage horaire #}
		<div id="{{ dayKey }}-open-hours-first-line" class="valign-wrapper">	
	  		
	  		{% if (day.vars.name == "Monday") %} 
	  			<div class="col s3 day-col">
	  				<span class="hide-on-small-only">{{ frenchDays[dayKey] }}</span>
	  				<span class="hide-on-med-and-up">{{ frenchDaysShort[dayKey] }}</span>
	  			</div>
	  		{% else %}
	  			<div class="col s2 day-col open-hours-day">
	  				<span class="hide-on-small-only">{{ frenchDays[dayKey] }}</span>
	  				<span class="hide-on-med-and-up">{{ frenchDaysShort[dayKey] }}</span>
	  			</div>
	  			
	  			{# Redo time slot button #}
	  			<div class="col s1 center-align copy-hours-col">
	  				<a id="{{ dayKey }}_redo" 
	  				   class="redo-time-slot-button btn-flat tooltipped" 
	  				   data-position="top" 
	  				   data-delay="250" 
	  				   data-tooltip="Recopier les horaires précédentes" 
	  				   style="padding:0;">
	  				   	<i class="material-icons gogo-icon-icon-copy-hours"></i>
	  				</a>
	  			</div>	 
	  		{% endif %}
	  		
	  		<div class="col s1 center-align">De</div>
	  		<div class="col s3 center-align">
	  			{{ form_widget(day.children.slot1start, { 'id' : dayKey ~'-input-1',	  														
  							  'attr': {'class': 'timepicker_1 timepicker',
	  									   'data-slot-number' : 1,
	  									   'name' : dayKey ~ '-open-hours-1', }}) }}
	  		</div>
			<div class="col s1 center-align">à</div>
			<div class="col s3 center-align">
				{{ form_widget(day.children.slot1end, {'id': dayKey ~'-input-2',
  							  'attr': {'class': 'timepicker_2 timepicker',
  									   'data-slot-number' : 2,
  									   'name':'{{ dayKey }}-open-hours-2'   }}) }}
			</div>

			{# Add time slot button #}
			<div class="col s1 center-align new-slot-col">
				<a id="{{ dayKey }}_ajout" 
				   class="add-time-slot-button btn-flat tooltipped" 
				   data-position="right" 
				   data-delay="0" 
				   data-tooltip="Ajouter plage horaire" 
				   style="padding:0;{{ isSecondTimeSlot ? 'visibility: hidden;' : ''}}">
				   	<i class="material-icons gogo-icon-add-circle openhours-icons"></i>
				</a>
			</div>
		</div>	
		
		{# // deuxième ligne de plagehoraire (cachée) #}
		<div id="{{ dayKey }}-open-hours-second-line" 
				 class="valign-wrapper second-line-slot {{ isSecondTimeSlot ? 'active' : ''}}">	
			<div class="col s1 offset-s3 center-align">Et</div>
	  		<div class="col s3 center-align">
	  			{{ form_widget(day.children.slot2start, {'id': dayKey ~'-input-3',
  							  'attr': {'class': 'timepicker_3 timepicker',
  									   'data-slot-number' : 3,
  									   'name':'{{ dayKey }}-open-hours-3'   }}) }}
  			</div>
			<div class="col s1 center-align">à</div>
			<div class="col s3 center-align">
				{{ form_widget(day.children.slot2end, {'id': dayKey ~'-input-4',
  							  'attr': {'class': 'timepicker_4 timepicker',
  									   'data-slot-number' : 4,
  									   'name':'{{ dayKey }}-open-hours-4'   }}) }}
  			</div>
			
			{# Clear time slot button #}
			<div class="col s1 center-align clear-slot-col">
				<a id="{{ dayKey }}_clear" c
				   class="clear-time-slot-button btn-flat" 
				   style="padding:0;">
				   	<i class="material-icons gogo-icon-clear openhours-icons"></i>
				</a>
			</div>
		</div>			

		</div>
		{% set dayKey = dayKey + 1 %}
		
	{% endfor %}
</div>