{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'check-for-duplicates' %}

{% block title %}
	Détection de doublons
{% endblock %}

{# Stylessheets #}
{% block page_stylesheets %}

 	<link rel="stylesheet" href="{{ asset('assets/css/element-form.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}	
 
  <h1>Recherche de doublons</h1> 

  <h2>Des acteurs similaires ont été détectés, vous vouliez peut être ajouter l'un d'eux?</h2> 

	<div class="duplicate-list">
	  {% for key, element in duplicatesElements %}

	  	<div class="element row">
	  		<div class="col s9 m10">
		  		<div class="name">{{ element.name | capitalize }}</div>
		  		{% if element.description is defined %}<div class="description">{{ element.description | capitalize }}</div>{% endif %}
		  		<div class="address">{{ element.address | capitalize }}</div>
		  	</div>
		  	<div class="col s3 m2 right-align">
	  			<a href="{{ path('biopen_directory_showElement', {'id': element._id, 'name': element.name}) }}"><button class="btn-biopen btn-secondary small">c'est lui !</button></a>
	  		</div>
	  	</div>

	  {% endfor %}
  </div>
 
	{{ form_start(duplicateForm) }}

	<center>
		<button type="submit" class="btn-biopen btn-primary">Non, c'est un nouvel acteur, je continue !</button>
	</center>

	{{ form_rest(duplicateForm) }}


{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(duplicateForm) }}

{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('js/element-form.js') }}"></script>
{% endblock %}