{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'contributor-login' %}
{% set navTitle = "Identification" %}

{% block title %}
	Identification
{% endblock %}

{# Stylessheets #}
{% block page_stylesheets %}

 	<link rel="stylesheet" href="{{ asset('assets/css/element-form.css?ver=' ~ version) }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	{# NOT ACTIVE #}
	{% if not featureConfig.getActive() %}

		<h1>Erreur</h1> 
		<p><center>Désolé, cette fonctionnalité n'est pas activée pour le moment</center></p>

	{# NOT ACTIVE IN IFRAME #}
	{% elseif app.request.get('iframe') and not featureConfig.getActiveInIframe() %}

		<h1>Erreur</h1> 
		<p><center>Désolé, cette fonctionnalité n'est pas disponible à l'intérieur d'une iframe</center></p>

	{% else %}

		<h1>Identification</h1> 

		{# Only Admins warning #}
		{% if featureConfig.isOnlyAllowedForAdmin() %}
			<p>Attention ! Cette fonctionalité est reservée aux administrateur</p>
		{% endif %}

		{# Login button #}
		{% if featureConfig.getAllowRoleUser() or featureConfig.getAllowRoleAdmin() %}
		  <div style="text-align:center">
			  <button 
								onclick="$('#popup-login').openModal()"
								class="btn btn-login">
			         CONNECTEZ VOUS (avec google, facebook, ou créez un compte près de chez vous)								
				</button>
			</div>
		{% endif %}

		{# separator #}
		{% if (featureConfig.getAllowRoleUser() or featureConfig.getAllowRoleAdmin()) and featureConfig.getAllowRoleAnonymousWithMail() %}
			<div class="or-label">ou</div>
		{% endif %}

		{% if featureConfig.getAllowRoleAnonymousWithMail() %}

			{{ form_start(loginForm) }}

			<div class="input-field col s12">
				<i class="material-icons gogo-icon-mail prefix"></i>	
				{{ form_widget(loginForm.email, {'id': 'inputMail', 
											      		   'attr': {'class': 'validate required',
														   		 'placeholder':'Entrez simplement une adresse mail' }}) }}
				<label for="inputMail" data-error="Veuillez renseigner une adresse mail valide" class="gogo-form-label" style="margin-left: 2.5rem;"></label>
			</div>

			<div class="explanations">
				<!-- Un mail vous sera envoyé pour vous permettre d'annuler votre contribution. -->
			</div>

			{{ form_rest(loginForm) }}

			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(loginForm) }}

			<center>
				<button onclick="checkLoginAndSend()" class="btn btn-secondary waves-effect waves-light">Continuer</button>
			</center>

		{% endif %}

	{% endif %} {# end isActive #}

{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('js/element-form.js?ver=' ~ version) }}"></script>
{% endblock %}