{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'element-form' %}
{% set navTitle = "Ajouter un élément" %}

{% block page_stylesheets %}
  
  <link rel="stylesheet" href="{{ asset('assets/css/element-form.css?ver=' ~ version) }}"> 

{% endblock %}

{% block title %}
	{% if editMode %} Edition
	{% else %}  Ajouter {{ config.elementDisplayNameIndefinite }}
	{% endif %}
{% endblock %}


{# BODY CONTENT #}
{% block body_content %}	

 	{% if config.elementFormIntroText %}<div class="flash-message">{{ config.elementFormIntroText | raw }}</div>{% endif %}
  
  <h1 id="element-form-title">{{ editMode ? 'Modification des données' : "Ajouter " ~ config.elementDisplayNameIndefinite }}</h1> 

  
  {% include "@BiopenGeoDirectory/element-form/form.html.twig" with {'editMode': editMode } %}

{% endblock %}

{% block page_javascripts %}

  <script src="{{ asset('js/element-form.js?ver=' ~ version) }}"></script> 

  <script>
	  var editMode = false;		  
	  {% if editMode %} editMode = true; {% endif %}
    var defaultTileLayer = "{{ config.defaultTileLayer.url }}";    
	  initMap();

    console.log({{ config.getElementFormFieldsJson|raw }});
  </script>
  
{% endblock %}





