
{{ form_start(form, {'id': 'formElement'}) }}   

{#<section class="row" id="section_element" {% if editMode %}style="display:none"{% endif %} >
	<!-- Select element type-->
	<div class="input-field col s12">
    	{{ form_widget(form.type, {'id': "element-type"}) }}
    <label id="type-element-label">Type de element</label>
  	</div>
</section>
<div class="divider" {% if editMode %}style="display:none"{% endif %} ></div>#}

<!-- DIV ENGLOBANTE DES VRAIES INFOS FORMULAIRES -->
<div id="element-form-content" {#{% if not editMode %}style="height:0px;display:none"{% endif %}#}>

	<section id="section-categories-options">
		<div class="categories-info">Choississez la ou les catégories par ordre d'importance</div>
		{% include '@directory/element-form/form-partials/category-field.html.twig' with { 'category' : mainCategory } %} 
		<input id="options-values" name="options-values" type="hidden"/>
	</section>
	<div class="divider"></div>

	{% include "@directory/element-form/form-partials/generals-info.html.twig" %}	

	{% include "@directory/element-form/form-partials/open-hours.html.twig" %}

	{% include "@directory/element-form/form-partials/user.html.twig" %}	

	
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<div id="captcha-error-message">Vous devez valider le captcha ci-dessous</div>
		<div id="captcha" class="col s12"></div>
	{% endif %}

	<section id="section-validate-and-send">
		<center>
			<button onclick="checkAndSend()" type="button" class="btn waves-effect waves-light">Envoyer</button>
		</center>
    </section>
    <div class="divider"></div>

	{{ form_rest(form) }}

{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}

{% block modals %}

	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>

{% endblock %}

{% block page_javascripts %}
		<script src="{{ asset('js/libs.js') }}"></script>
    <script src="{{ asset('js/element-form.js') }}"></script>

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		 	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCaptcha&render=explicit"
		        async defer>
		  </script>
		{% endif %}

    <script>
		  var editMode = false;		  
		  {% if editMode %} editMode = true; {% endif %}
		  initMap();
	  </script>
{% endblock %}

	