<!-- SECTION INFO FOURNISSEUR -->
<section class="row" id="section_info_provider">

  	<!-- Input name provider -->
  	<div class="input-field col s12">
  		<i class="material-icons prefix">account_circle</i>	
  		{{ form_widget(form.name, {'id': 'inputName', 
  							      'attr': {'class': 'validate required','placeholder':'Nom'}}) }}
	</div>

	<!-- Input adresse provider -->
	<div class="input-field col s12">
	<i class="material-icons prefix">room</i>	
  	{{ form_widget(form.adresse, {'id': 'inputAdresse',
  								  'attr': {'class': 'validate required',
  								           'placeholder':'Adresse Complète' 
  								  		   }}) }}
	
	</div>	

	<div id="autre_point_vente">D'autres points de ventes (marchés, AMAP...) ? Ajouter les à notre base de donnée 
  		avec un nouveau formulaire !</div>

	<!-- HIDDEN input pour stocker valeur de la lat et lng -->
	{{ form_widget(form.latlng, {'id': 'latlng'}) }}		
	
	<!-- input description provider -->
	<div class="input-field col s12">
		<i class="material-icons prefix">description</i>
	  	{{ form_widget(form.description, {'id': 'inputDescription',
  								          'attr': {'class': 'validate',
  											   'placeholder':'Description du fournisseur, pas des produits !',
  											   'length':'80'   }}) }}
	</div>

	<!-- input telephone provider -->
	<div class="input-field col s12">
		<i class="material-icons prefix">phone</i>
	  	{{ form_widget(form.tel, {'id': 'inputTel',
  							      'attr': {'class': 'validate',
  											   'placeholder':'Téléphone (optionnel)',
  											   'pattern':'-?[0-9]*(\.[0-9]+)?'   }}) }}
	</div>		

	<!-- Carte google map -->
	<div id="map" class="col s12"></div>	

 </section>
 <div class="divider"></div>

 <section id="section_AMAP" style="display:none">
 	<h2 id="title_AMAP">Contact dans l'AMAP (renseignez un téléphone et/ou un e-mail)</h2>
		<div class="row ">
	 	<!-- inputName du contact de l'AMAP -->
		<div class="input-field col s12" id="AMAP_contact">
		  	<i class="material-icons prefix">account_circle</i>	
		  	{{ form_widget(form.contactAmap.children.name, 
				  				{ 'id' : 'inputNameContactAMAP',									
			  					  'attr': {'placeholder':'Nom du Contact de l\'AMAP',
			  							   'name' : 'nameAMAP',
			  					}}) }}
		</div>
		<!-- input telephone contact de l'AMAP -->
		<div class="input-field col s12">
			<i class="material-icons prefix">phone</i>
		  	{{ form_widget(form.contactAmap.children.tel, 
				  				{ 'id' : 'inputTelAMAP',									
			  					  'attr': {'placeholder':'Téléphone du contact',
			  							   'name' : 'telAMAP',
			  							   'pattern': '-?[0-9]*(\.[0-9]+)?'
			  					}}) }}
		</div>			
		<!-- input Mail du contact de l'AMAP -->
	  	<div class="input-field col s12"  id="AMAP_mail">
			<i class="material-icons prefix">mail</i>	
			{{ form_widget(form.contactAmap.children.mail, 
				  				{ 'id' : 'inputMailAMAP',									
			  					  'attr': {'type' : 'email',
			  					  		   'placeholder':'Adresse mail du contact',
			  							   'name' : 'mailAMAP'
			  					}}) }}
		</div>
	</div>
</section>
<div class="divider" style="display:none"></div>