<!-- Pop up page A propos-->

{% for about in listAbouts %}

<div id="popup-{{about.id}}"  class="modal page-modal about-modal custom-scroll-bar-light">
    <div class="modal-content page-modal-content">
        <span class="icon btn-back icon-material-design-icons-1" onclick="$('#popup-{{about.id}}').closeModal()"></span>
        <h1>{{ about.name | raw }}</h1>
	    	<p>{{ about.content | raw }}</p>  
		
		<div class="page-modal-footer">
		<button type="button"
				onclick="$('#popup-{{about.id}}').closeModal()"  
				class="btn waves-effect waves-light">
			OK!
		</button>
		</div>

    </div>
</div>

{% endfor %}