<div id="popup-{{id}}"  class="modal page-modal about-modal custom-scroll-bar-light">
    <div class="modal-content page-modal-content">
        <span class="icon btn-back gogo-icon-material-design-icons-1" onclick="$('#popup-{{id}}').closeModal()"></span>
        <h1>{{ title | raw}}</h1>
	    	<div class="wysiwyg-content background-dark">{{ content | raw }}</div>  
		
		<div class="page-modal-footer">
		<button type="button"
				onclick="$('#popup-{{id}}').closeModal()"  
				class="btn waves-effect waves-light">
			OK!
		</button>
		</div>

    </div>
</div>