{% extends "::bundle_layout.html.twig" %}

{% block title %}Constellation{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('assets/img/icon/styles.css') }}">
  {# <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> #}
  <link rel="stylesheet" href="{{ asset('assets/css/constellation.css') }}">
  

{% endblock %}



{# BODY CONTENT #}
{% block body_content %}

<div id="div_map_and_products">

  {% if constellationPhp is defined %}
  {# La liste des products #}
  <section id="ProductsList">     
    {% include 'BiopenCoreBundle:section-products-constellation.html.twig' %}      
  </section>
  {% endif %}

   
  {# La Carte et les infos provider #} 
  <section id="section_carte">
    <div id="map"></div>

    <div id="bandeau_detail">
      <div id="detail_provider"></div>
    </div>

    {# <div id="bandeau_option"></div> #}

    <div id="btn_menu"><i class='icon-menu'></i></div> 
    <div id="overlay"></div>
  </section>  

</div>

{# Le bandeau qui indique qu'il y a une liste de résultat en bas #}
<div id="bandeau_goToProviderList">  
  <a href='#ProviderList'>
    <div class="valign-wrapper">
    <i class="icon-expand"></i>
    <div class="">Liste des résultats</div>
    <i class="icon-expand"></i>
    </div>
  </a>
</div>

{# Les résultats par liste #}
<section id="ProviderList"> 
  {% if providerList is defined %}
  <ul class="collapsible popout" data-collapsible="accordion">
      {% for key, provider in  providerList %}   
          {% include '::Core/provider.html.twig'  %}  
      {% endfor %} 
  </ul>
  {% endif %} 
</section>

{% endblock %}

{% block javascripts %}

  <script>

    var iconDirectory = "{{ asset('assets/img/icon/') }}"

    var providerList = null;
    {% if providerList is defined %}
      providerListJson = {{ providerList | serialize("json") | raw }};
    {% endif %}

    var constellationRawJson = null;
    {% if constellationPhp is defined %}
      constellationRawJson = {{ constellationPhp | serialize("json") | raw }};
    {% endif %}

    var constellationMode = true;
  </script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
  {% javascripts filter="?jsqueeze"
        "assets/js/libs/jquery-2.2.1.min.js"        
        "assets/js/libs/cluster/cluster-commons.js"
        "assets/js/libs/cluster/clustericon.js"
        "assets/js/libs/cluster/cluster.js"
        "assets/js/libs/rich-marker.js"
        "assets/js/libs/cluster/markerclusterer.js" 
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/constelisting/*"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

     <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&callback=initMap">
  </script>

{% endblock %}

