{% extends "::bundle_layout.html.twig" %}

{% block title %}Navigation Libre{% endblock %}

{# Stylessheets #}
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Yellowtail|Average+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('assets/img/icon/styles.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/listing.css') }}"> 

{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

<div id="div_map_and_products">
  
  {# La liste des products #}
  <section id="ProductsList" class="customScrollBar"> 
      {% include '::Core/section-products-listing.html.twig' %}    
  </section>
   
  {# La Carte et les infos provider #} 
  <section id="section_carte">

    {#  PRELOADER #}
    {% include '::Components/loader.html.twig'  %}

    <div id="map"> </div>

    <section id="bandeau_detail" class="customScrollBar insideNavigationMode" style="display:none">
      <div id="detail_provider">
      </div>      
      {% include '::Components/menu-provider.html.twig'  %}
    </section>

    <div id="btn_menu"><i class='icon-menu'></i></div> 
    <div id="overlay"></div>
  </section>  

</div>

{% endblock %}

{% block javascripts %}

  <script>

    var iconDirectory = "{{ asset('assets/img/icon/') }}";
    var providerListJson = {{ providerList | serialize("json") | raw }}; 
    var constellationMode = false;
    var onlyInputAdressMode = false;

    var geocodeResponse = null;
    {% if geocodeResponse is defined %}
      geocodeResponse = {{ geocodeResponse | serialize("json") | raw }};
    {% endif %}

    

  </script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  
  <script src="{{ asset('js/libs.min.js') }}"></script>  
  <script src="{{ asset('js/constelisting.js') }}"></script>

    {% javascripts filter="twig_js" 

    '../app/Resources/views/Core/provider.html.twig'    
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

   
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
    </script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCaptcha&render=explicit"
        async defer>
    </script>


{% endblock %}

{% block modals %} 

  {% include '::Components/delete-provider.html.twig'  %}
  {% include '::Components/modal-choose-adresse-for-directions.html.twig'  %}  

{% endblock %}

