{% twig_js name="providerTemplate" %}
{# ------------- #}
{# INFO PROVIDER #}
{# ------------- #}
<li id="infoProvider-{{ provider.id }}" 
  class="providerItem" 
  data-provider-id="{{ provider.id }}">

  {# HEADER #}
  <div class="collapsible-header">

    <div class='collapsible-header-title row'>
      <span class="col s1 icon icon-{{provider.mainProduct|lower}}"></span>
      <span class="col s8"><b>{{ provider.name|capitalize }}</b></span>
       {% if provider.distance is defined %}
          <span class="col s3 right-align">{{ provider.distance }} km</span>
       {% endif %}
    </div>

    <div class='collapsible-header-more row'>
      <span class="description col s12">{{ provider.description }}</span> 
      <span class="list_products col s8 products">
        {% for product in provider.products %} 
          {{ product.product.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </span>
      <a><span class=" col s4 right-align">Plus d'infos</span></a>
    </div>

  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails" > 

    <div class="section row"> 
      {% for product in provider.products %} 
        <span class="col s3 categorie">{{ product.product.name }}</span>
        <span class="col s9 detail">{{ product.descriptif }}</span>
      {% endfor %}          

    </div>       
    <div class="divider"></div>

    <div class="section row">          
      <span class="col s12 adresse">{{ provider.address|capitalize }}</span>
      <span class="col s12 tel">{{ provider.tel }}</span>
    </div>

    <div id="collapsible-menu" class="row">
      <center>
        <button id="" class=" btn waves-effect waves-light">Modifier les informations</button>
      </center>          
    </div>    

  </div>

</li>

