{% twig_js name="providerTemplate" %}
{# ------------- #}
{# INFO PROVIDER #}
{# ------------- #}
<li id="infoProvider-{{ provider.id }}" 
  class="providerItem" 
  data-provider-id="{{ provider.id }}">

  {# HEADER #}
  <div class="collapsible-header">

    <div class='collapsible-header-title row'>
      <span class="col s1 icon icon-{{provider.mainProduct|lower}}"></span>
      <span class="col s8"><b>{{ provider.name|capitalize }}</b></span>
       {% if provider.distance is defined %}
          <span class="col s3 right-align">{{ provider.distance }} km</span>
       {% endif %}
    </div>

    <div class='collapsible-header-more row'>
      <span class="description col s12">{{ provider.description }}</span> 
      <span class="products col s8">
        {% for product in provider.products %} 
          {{ product.nameShort|capitalize }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </span>
      <a><span class=" col s4 right-align">Plus d'infos</span></a>
    </div>

  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails" > 

    <h3>Infos</h3>   
    <div class="section row sectionInfos">
      <span class="col s12 adresse">{{ provider.adresse|capitalize }}</span>
      <span class="col s12 tel">{{ provider.tel }}</span>
    </div>
    <div class="divider"></div>

    <h3>Les produits</h3>   
    <div class="section sectionDetailProducts"> 
      {% for product in provider.products %} 
        <div class='row {% if product.nameFormate == provider.mainProduct %}strong{% endif %}'>
          <span class="col s6 m4 product">
            <span class="icon icon-{{ product.nameFormate }}"></span>            
            <span class="productName">{{ product.nameShort|capitalize }}</span> 
          </span>
          <span class="col s6 m8 detail">{{ product.descriptif|capitalize }}</span>
        </div>
      {% endfor %}          

    </div>       
    <div class="divider"></div>

    {% if not constellationMode %}
    <h3>Horaires</h3>   
    <div class="section row sectionHoraires">  
      {% set count = 0 %}        
      {% for key, horaire in provider.getFormatedHoraires() %} 
        {% if horaire != null %}
          <div class='row'>
            <span class="col s3 jour">{{ key|capitalize }}</span>
            <span class="col s9 horaires">{{ horaire }} </span>
          </div>
          {% set count = count + 1 %} 
        {% endif %}
      {% endfor %}  
      {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %} 
    </div>
    <div class="divider"></div>
    {% endif %}

    <div id="collapsible-menu" class="section row">
      <center>
        <button id="" class="btn waves-effect waves-light">Modifier ces informations</button>
        <button id="" class="btn waves-effect waves-light">Supprimer ce producteur</button>
      </center>       
    </div>    

  </div>

</li>

