{% twig_js name="providerTemplate" %}
{# ------------- #}
{# INFO PROVIDER #}
{# ------------- #}
<li id="infoProvider-{{ provider.id }}" 
  class="providerItem" 
  data-provider-id="{{ provider.id }}">

  {# HEADER #}
  <div class="collapsible-header">
    
    <div class='collapsible-header-title row'>      
      <span class="col s1 icon icon-{{provider.mainProduct|lower}} hideOnLargeScreen"></span>
      <span class="col s8 name"><b>{{ provider.name|capitalize }}</b></span>
       {% if provider.distance != null %}
          <span class="col s3 right-align">{{ provider.distance }} km</span>
       {% endif %}
    </div>

    <div class='collapsible-header-more row'>
      <span class="description col s12">{{ provider.description }}</span> 
      <span class="products col s8 hideOnLargeScreen">
        {% for product in provider.products %} 
          {{ product.nameShort|capitalize }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </span>
      <span class="col s4 right-align btn-select-as-representant-container" style="display:none">
        <button class="btn btn-select-as-representant waves-effect waves-light" >Sélectionner</button> 
      </span>
      <a><span class="col s4 right-align moreInfos hideOnLargeScreen">Plus d'infos</span></a>
      <a><span class="col s4 right-align lessInfos hideOnLargeScreen" style="display:none">Moins d'infos</span></a>
    </div>

  </div>

  {# BODY #}
  <div class="collapsible-body moreDetails customScrollBar" > 
  
  {% if constellationMode %}
  <div class="menu-provider">      
    <center>
      <span class="menu-icon icon-directions tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Itinéraire vers ce fournisseur"></span>
      <span class="menu-icon icon-edit tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Modifier ces informations"></span>
      <span class="menu-icon icon-delete tooltipped" 
      data-position="top" data-delay="0" data-tooltip="Supprimer ce fournisseur"></span>
      {# <button id="" class="btn waves-effect waves-light">Modifier</button>
      <button id="" class="btn waves-effect waves-light">Supprimer</button> #}
    </center>       
  </div> 
  {% endif %}
  <div class="collapsible-body-main-content"> 
    <h3>Infos</h3>   
    <div class="section row sectionInfos">
      <span class="col s12 adresse">{{ provider.adresse|capitalize }}</span>
      <span class="col s12 tel">{{ provider.tel }}</span>
    </div>
    <div class="divider"></div>

    {% if provider.type != 'epicerie' %}
    <h3>Les produits</h3>   
    <div class="section sectionDetailProducts"> 
      {% for product in provider.products %} 
        <div class='row {% if product.nameFormate == provider.mainProduct %}strong{% endif %}'>
          <span class="col s6 m4 product">
            <span class="icon icon-{{ product.nameFormate }}"></span>            
            <span class="productName">{{ product.nameShort|capitalize }}</span> 
          </span>
          <span class="col s6 m8 detail">{{ product.descriptif|capitalize }}</span>
        </div>
      {% endfor %}          

    </div>       
    <div class="divider"></div>
    {% endif %}

    <h3>Horaires</h3>   
    <div class="section row sectionHoraires">  
      {% set count = 0 %}        
      {% for key, horaire in provider.getFormatedHoraires() %} 
        {% if horaire != null %}
          <div class='row'>
            <span class="col s3 jour">{{ key|capitalize }}</span>
            <span class="col s9 horaires">{{ horaire }} </span>
          </div>
          {% set count = count + 1 %} 
        {% endif %}
      {% endfor %}  
      {% if count == 0 %}<div class='col'> Non renseignées </div>{% endif %} 
    </div> 
  </div>
  </div>

  

</li>

