<li>    
    <div class="productItem collapsible-header row" 
          data-star-name="{{starName}}"
          data-providers-size="{{ star.providerList|length }}" >
    <span class="icon icon-{{starName|lower}}"></span>
    <span class="productName">{{ star.name|capitalize }}</span>
    <span class="resultNumber tooltipped {% if star.providerList|length > 1 %} moreThanOneChoice {% endif %}" data-position="right" data-delay="0" data-tooltip="Voir {{ star.providerList|length }} résultats">{{ star.providerList|length }}</span>
    </div>

    {# {% if star.providerList|length > 1 %} #}
    <div class="collapsible-body moreResultContainer">
      <ul class="collection">
      {% for key, provider in star.providerList %} 
        <li class="row collection-item moreResultProviderItem {% if key == 0 %} starProvider {% endif %}"
              id="moreResult-{{starName}}-{{ key }}"
              data-provider-index="{{ key }}"
              data-provider-id="{{ provider.id }}"
              data-star-name="{{ starName }}">
          <span class="col s8 ">{{ provider.name|capitalize }}</span>
          <span class="col s4 right-align">{{ provider.distance|round(1) }} km</span>
        </li>
        {% if not loop.last %}<div class="divider"></div>{% endif %}
      {% endfor %}
      </ul>
    </div>
    {# {% endif %} #}
</li>