{% extends "::bundle_layout.html.twig" %}

{% block title %}Fournisseur{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

 	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="{{ asset('assets/css/fournisseur-add.css') }}">

{% endblock %}


{# BODY CONTENT #}
{% block body_content %}

	{% for flash_message in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flash_message | raw }}
	    </div>
	{% endfor %}
  
  {{ form_start(form, {'id': 'formFournisseur'}) }}

   <h1 id="titre_ajout">Ajouter un fournisseur</h1>
	
	<section class="row" id="section_fournisseur">
	<!-- Select type de fournisseur -->
		<div class="input-field col s12">
	    	{{ form_widget(form.type, {'id': "type_fournisseur"}) }}
	    <label id="label_type_fournisseur">Type de fournisseur</label>
	  	</div>
	</section>

	<!-- DIV ENGLOBANTE DES VRAIES INFOS FORMULAIRES -->
	<div id="form_content" style="height:0px;display:none">

	<!-- SECTION INFO FOURNISSEUR -->
	<section class="row" id="section_info_fournisseur">

	  	<!-- Input nom fournisseur -->
	  	<div class="input-field col s12">
	  		<i class="material-icons prefix">account_circle</i>	
	  		{{ form_widget(form.nom, {'id': 'inputNom', 
	  							      'attr': {'class': 'validate required','placeholder':'Nom'}}) }}
		</div>

		<!-- Input adresse fournisseur -->
		<div class="input-field col s12">
		<i class="material-icons prefix">room</i>	
	  	{{ form_widget(form.adresse, {'id': 'inputAdresse',
	  								  'attr': {'class': 'validate required',
	  								           'placeholder':'Adresse Complète' 
	  								  		   }}) }}
		
		</div>	

		<div id="autre_point_vente">D'autres points de ventes (marchés, AMAP...) ? Ajouter les à notre base de donnée 
	  		avec un nouveau formulaire !</div>

		<!-- HIDDEN input pour stocker valeur de la lat et lng -->
		{{ form_widget(form.latlng, {'id': 'latlng'}) }}		
		
		<!-- input description fournisseur -->
		<div class="input-field col s12">
			<i class="material-icons prefix">description</i>
		  	{{ form_widget(form.description, {'id': 'inputDescription',
	  								          'attr': {'class': 'validate',
	  											   'placeholder':'Description du fournisseur, PAS des produits (optionnel)',
	  											   'length':'80'   }}) }}
		</div>

		<!-- input telephone fournisseur -->
		<div class="input-field col s12">
			<i class="material-icons prefix">phone</i>
		  	{{ form_widget(form.tel, {'id': 'inputTel',
	  							      'attr': {'class': 'validate',
	  											   'placeholder':'Téléphone (optionnel)',
	  											   'pattern':'-?[0-9]*(\.[0-9]+)?'   }}) }}
		</div>		

		<!-- Carte google map -->
		<div id="map" class="col s12"></div>	

	 </section>
	 <div class="divider"></div>

	 <section id="section_AMAP" style="display:none">
	 	<h2 id="title_AMAP">Contact dans l'AMAP (renseignez un téléphone et/ou un e-mail)</h2>
   		<div class="row ">
		 	<!-- inputNom du contact de l'AMAP -->
			<div class="input-field col s12" id="AMAP_contact">
			  	<i class="material-icons prefix">account_circle</i>	
			  	{{ form_widget(form.contactAmap.children.nom, 
					  				{ 'id' : 'inputNomContactAMAP',									
				  					  'attr': {'placeholder':'Nom du Contact de l\'AMAP',
				  							   'name' : 'nomAMAP',
				  					}}) }}
			</div>
			<!-- input telephone contact de l'AMAP -->
			<div class="input-field col s12">
				<i class="material-icons prefix">phone</i>
			  	{{ form_widget(form.contactAmap.children.tel, 
					  				{ 'id' : 'inputTelAMAP',									
				  					  'attr': {'placeholder':'Téléphone du contact',
				  							   'name' : 'telAMAP',
				  							   'pattern': '-?[0-9]*(\.[0-9]+)?'
				  					}}) }}
			</div>			
			<!-- input Mail du contact de l'AMAP -->
		  	<div class="input-field col s12"  id="AMAP_mail">
				<i class="material-icons prefix">mail</i>	
				{{ form_widget(form.contactAmap.children.mail, 
					  				{ 'id' : 'inputMailAMAP',									
				  					  'attr': {'type' : 'email',
				  					  		   'placeholder':'Adresse mail du contact',
				  							   'name' : 'mailAMAP'
				  					}}) }}
			</div>
		</div>
	</section>
	<div class="divider" style="display:none"></div>

	 <!-- SECTION PRODUITS -->
	<section id="section_produits">
		
		<h2 id="title_produits">Produits du fournisseur</h2>
		
		<div class="row" id="mainProductDiv">
		<!-- Select type de fournisseur -->
			<div class="input-field col s12">
		    {{ form_widget(form.mainProduct, {'id': "mainProductSelection"}) }}
	    	<label id="label_main_product_selection">Produit principal</label>
		  	</div>
		</div>

		<div class="row ">			
			{% for produit in form.listeProduits %}
			    <div class="col s6 m4">	
			        {{ form_widget(produit, {'attr': {'class': 'checkbox_produits'}}) }}
			        {{ form_label(produit) }} 
			    </div>
			{% endfor %}

			{# on compl?te avec des div vide le tableau de produit #}
			<div class="col s{{ (form.listeProduits|length % 2)*6 }} m{{(3-(form.listeProduits|length % 3))*(form.listeProduits|length % 3)*4}}"></div>	
		</div>

		<!-- Espace pour préciser les type de produits -->
		<div id="precisions">
			{# on cr?e un input textpour chaque produits et on les cache tous
			quand on check un produit on rend visible l'input correspondant #}
			{% for produit in form.listeProduits %}			
				<div class="input-field" id="div_precision_{{ produit.vars.value }}" style="display:none">	
				  	<input placeholder="Précisez si nécessaire :" id="input_precision_{{ produit.vars.value }}" name="precision_{{ produit.vars.value }}" type="text" length="80">
			      	<label class="active label_precision" for="input_precision_{{ produit.vars.value }}">{{ produit.vars.label }}</label>
				</div> 
			{% endfor %}   
		</div>

	</section>
	<div class="divider" id="divider_produits"></div>

	<!-- SECTION HORAIRES -->
	<section id="horaires" class="">
		<h2 id="titre_horaires">Horaires (optionnel)</h2>
		<div class="row ">
		
		{% set key = 0 %}
		{# pour chaque jour de la semaine on crée un ligne pour entrée une plage horaire
		   une deuxième ligne cachée est crée pour pouvoir ajouter une deuxième plage si besoin #}
		{% for jour in form.horaires %}
			{# // div englobante pour un jour donnée, on la marque paire ou impaire pour 
			// changer la couleur de fond #}
			{% set class = key%2 == 0 ? 'horaire_container' : 'horaire_container impair' %}
			<div id="{{ key }}_horaire" class="{{ class }}">
			

			{# // première ligne de plage horaire #}
			<div id="{{ key }}_horaire_1" class="valign-wrapper">	
		  		
		  		{% if (jour.vars.name == "Lundi") %} 
		  			<div class="col s3">{{ jour.vars.name }}</div>
		  		{% else %}
		  			<div class="col s2 horaire_jour">{{ jour.vars.name }}</div>
		  			<div class="col s1 center-align"><a id="{{ key }}_redo" class="redo_plage_horaire btn-flat tooltipped" data-position="bottom" data-delay="250" data-tooltip="Recopier les horaires précédentes" style="padding:0;"><i class="material-icons">redo</i></a></div>	 
		  		{% endif %}
		  		
		  		<div class="col s1 center-align">De</div>
		  		<div class="col s3 center-align">
		  			{{ form_widget(jour.children.plage1debut, { 'id' : key ~'_input_1',
		  														
	  							  'attr': {'class': 'timepicker_1',
	  							  		   'type': 'time',
	  									   'placeholder':'',
	  									   'name' : key ~ '_horaire_1',
	  									     }}) }}
		  		</div>
				<div class="col s1 center-align">à</div>
				<div class="col s3 center-align">
					{{ form_widget(jour.children.plage1fin, {'id': key ~'_input_2',
	  							  'attr': {'class': 'timepicker_2',
	  									   'placeholder':'',
	  									   'name':'{{ key }}_horaire_2'   }}) }}
				</div>
				<div class="col s1 center-align"><a id="{{ key }}_ajout" class="ajout_plage_horaire btn-flat tooltipped" data-position="bottom" data-delay="250" data-tooltip="Ajouter plage horaire" style="padding:0;"><i class="material-icons">add_circle</i></a></div>
			</div>	

			
			{# // deuxième ligne de plagehoraire (cachée) #}
			<div id="{{ key }}_horaire_2" class="horaire_2 valign-wrapper">	
				<div class="col s1 offset-s3 center-align">Et</div>
		  		<div class="col s3 center-align">
		  			{{ form_widget(jour.children.plage2debut, {'id': key ~'_input_3',
	  							  'attr': {'class': 'timepicker_3',
	  									   'placeholder':'',
	  									   'name':'{{ key }}_horaire_3'   }}) }}
	  			</div>
				<div class="col s1 center-align">à</div>
				<div class="col s3 center-align">
					{{ form_widget(jour.children.plage2fin, {'id': key ~'_input_4',
	  							  'attr': {'class': 'timepicker_4',
	  									   'placeholder':'',
	  									   'name':'{{ key }}_horaire_4'   }}) }}
	  			</div>
				<div class="col s1 center-align"><a id="{{ key }}_clear" class="clear_plage_horaire btn-flat" style="padding:0;"><i class="material-icons">clear</i></a></div>
			</div>			

			</div>
			{% set key = key + 1 %}
			
		{% endfor %}

	</div>
	</section>
	<div class="divider"></div>


	 <!-- SECTION INFOS UTILISATEUR -->
	<section class="row" id="section_vos_infos">
		<h2 id="titre_informations">Vos informations</h2>
		
		<!-- etes vous le producteur -->
		<div class="col s12">
			<input type="checkbox" name="estLeProducteur" id="estLeProducteur"/>
			<label for="estLeProducteur">Vous êtes ou travaillez chez le fournisseur en question </label> 
			{{ form_widget(form.contributeur) }}			
		</div>

		<!-- S'engager à bla bla bla -->
		<div class="col s12">			
			{{ form_widget(form.engagement, {'id' : 'agree' }) }}
			<label id="label_agree" for="agree">Vous vous engagez à fournir des informations exactes, et certifiez que ce fournisseur propose des produits bio (avec ou sans label) </label>
		</div>

		<!-- E mail pour validation -->
		<div class="input-field col s12">
			<i class="material-icons prefix">mail</i>	
			{{ form_widget(form.contributeurMail, {'id': 'inputMail',
	  								      		   'attr': {'class': 'validate required',
	  											   			'placeholder':'Votre Adresse Mail' }}) }}
		</div>

	</section>
	
	
	<center>
		<button onclick="check_and_send()" type="button" class="btn waves-effect waves-light">Envoyer</button>
	</center>
	
	{{ form_rest(form) }}

	{# Fermeture de la balise <form> du formulaire HTML #}
	{{ form_end(form) }}

{% endblock %}



{% block javascripts %}

	{% javascripts filter="?jsqueeze" output="js/app.js"
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/libs/timepicki.js"
        "assets/js/ajouter_fournisseur.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&callback=initMap">
	</script>
{% endblock %}

{% block modals %}
<!-- Pop up plusieurs jours de marchés -->
<div id="modal_marche" class="modal">
	<div class="modal-content">
	  <h5>Plusieurs jours de marchés</h5>
	  <p>Vous avez renseigné plusieurs jours d'ouverture pour ce marché, êtes vous certain que
	  	l'on retrouve les même produits à ces différentes date?</p>
	  	<p>Si ce n'est pas le cas, il est préférable de faire des ajouts distincts, un pour chaque jour
	  		de marché</p>
	</div>
	<div class="modal-footer">
		<a href="#continuer" class=" modal-action modal-close waves-effect waves-teal btn-flat">Continuer</a>
	 	<a href="#modifier" class=" modal-action modal-close waves-effect waves-teal btn-flat">Modifier</a>
	</div>
</div>

<!-- Pop up message alerte-->
<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="popup_title"></h5>
	  <p id="popup_content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
</div>

{% endblock %}