<div style="background-color: {{ config.backgroundColor }};
            height: 100%;
            padding: 30px 45px">
  <div style="background-color : {{ config.contentBackgroundColor }};
              max-width: 700px;              
              color: {{ config.neutralDarkColor }};
              margin: 0 auto;
              border-radius: 5px;
              font-weight: normal;
              overflow: hidden;
              text-align: center;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 18px;">
    <div style="text-align:center;
                padding: 10px;
                border-radius: 5px 5px 0 0;
                background-color: {{ config.headerColor }};">
        <a href="{{ absolute_url(path('biopen_homepage')) }}">
          <img src="{{ absolute_url(asset('assets/img/logo.png')) }}" alt="{{ config.appName }}" title="{{ config.appName }}"
                 style="max-height: 100px;    
                        color: white;
                        font-family: sans-serif;
                        max-width: 100%;" /></a>
        <div style="color:{{ config.neutralSoftColor }};
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 30px;
                    font-family: sans-serif;
                    ">{{ config.appBaseline }}</br></div>
    </div>
    <div style="padding:20px 25px">
      {{ content | raw }}
    </div>
  </div>
</div>

