{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'user-contributions' %}
{% set navTitle = "Mes Contributions" %}

{% block title %}Mes Contributions{% endblock %}

{# BODY CONTENT #}
{% block body_content %}


<section>

{% set elementStatus = {
  '' : 'En attente',
  '-5': "modified pending",
  '-4': 'Supprimé', 
  '-3': 'Refusé (votes) ', 
  '-2': 'Réfusé (admin)', 
  '-1': 'En attente (modifs)', 
   0: 'En attente (ajout)',
   1: 'Validé (admin)',
   2: 'Validé (votes)',
   3: 'Ajouté par admin',
   4: 'Modifié par admin',
   5: 'Modifié par propriétaire',
  }
%}

<h1>Mes contributions</h1>

<h2>Mes Fiches</h2>
{% if elementsOwned|length > 0 %}
  <ul class="collection">
  {% for element in elementsOwned %}
      <li class="collection-item row">
        <div class="col s6">
          <a href="{{ path('biopen_directory_showElement', {'id': element.id, 'name': element.name}) | replace({"%23":'#'}) }}">{{ element.name }}</a> 
        </div>
        <div class="col s3 right-align">
          {{ elementStatus[element.status] }}
        </div>
        <div class="col s3 right-align">
          {% if element.isValid() or element.isPending() and element.currContribution.userMail != app.user.email %}
            <a href="{{ path('biopen_element_edit', {'id': element.id, 'hash': element.randomHash}) }}">
              <button class="btn-biopen btn-secondary small waves-light waves-effect btn">Editer</button>
            </a>
          {% endif %}
        </div>
      </li>
  {% endfor %}
  </ul>
{% else %}
  <p class="empty-secton-message">
    Aucune fiche n'est en votre posséssion
  </p>
{% endif %}

{% set contributionType = {
  0: "Ajout",
  1: 'Modification',
}
%} 
<h2>Mes Contributions en attente</h2>
{% if pendingContributions|length > 0 %}
  <ul class="collection">
  {% for contribution in pendingContributions %}
      <li class="collection-item row">
        <div class="col s2">{{ contribution.createdAt|date("d/m/Y")}}</div>
        <div class="col s2">{{ contributionType[contribution.type]}}</div>
        <div class="col s5">
          <a href="{{ path('biopen_directory_showElement', {'id': contribution.element.id, 'name': contribution.element.name}) | replace({"%23":'#'}) }}">{{ contribution.element.name }}</a>        
        </div>
        <div class="col s3 right-align">
          <a href="{{ path('biopen_element_edit', {'id': contribution.element.id, 'hash': contribution.element.randomHash}) }}">
            <button class="btn-biopen btn-secondary small waves-light waves-effect btn">Editer</button>
          </a>
        </div>
      </li>    
  {% endfor %}
  </ul>
{% else %}
  <p class="empty-secton-message">
    Vous n'avez aucune contribution en attente
  </p>
{% endif %}

<h2>Contributions résolues</h2>
{% if othersContributions|length > 0 %}
  <ul class="collection">
  {% for contribution in othersContributions %}
      <li class="collection-item row">
        <div class="col s2">{{ contribution.createdAt|date("d/m/Y")}}</div>
        <div class="col s2">{{ contributionType[contribution.type]}}</div>
        <div class="col s3">
          <a href="{{ path('biopen_directory_showElement', {'id': contribution.element.id, 'name': contribution.element.name}) | replace({"%23":'#'}) }}">{{ contribution.element.name }}</a>        
        </div>
        <div class="col s2">{{ elementStatus[contribution.status] }}</div>
        <div class="col s3 right-align">
          {% if contribution.element.userOwnerEmail %}
            {{ contribution.element.userOwnerEmail == app.user.email ? "Moi" : contribution.element.userOwnerEmail }}
          {% else %}
            <a href={{ path('biopen_user_become_owner', {'id' : contribution.element.id}) }}>Devenir Propriétaire</a>
          {% endif %}
        </div>
      </li>    
  {% endfor %}
  </ul>
{% else %}
  <p class="empty-secton-message">
    Vous n'avez encore fait aucune contribution
  </p>
{% endif %}

{% set voteValues = {
  '-2': 'Ne respecte pas la charte',
  '-1': "N'existe pas",
  '0': 'Existe mais infos mauvaises',
  '1': 'Existe',
  '2': 'Existe et valide info'
  }
%}

<h2>Mes Votes</h2>
{% if votes|length > 0 %}
  <ul class="collection">
  {% for vote in votes %}
      <li class="collection-item row">
        <div>{{ vote.createdAt|date("d/m/Y à H:i")}}</div>
        <div>{{ voteValues[vote.value] }}</div>
        <div>{{ vote.element.name }} {{ elementStatus[vote.element.status] }}</div>
      </li>
  {% endfor %}
  </ul>
{% else %}
  <p class="empty-secton-message">
    Vous n'avez réalisé aucun vote
  </p>
{% endif %}

{% set reportValues = {
  0: "L'élément n'existe plus",
  1: 'Les informations sont incorrectes',
  2: "L'élément ne respecte pas la charte",
  4: "L'élément est référencé plusieurs fois"
  }
%} 

<h2>Mes Signalements</h2>
{% if reports|length > 0 %}
  <ul class="collection">
  {% for report in reports %}
      <li class="collection-item row">
        <div>{{ report.createdAt|date("d/m/Y à H:i")}}</div>
        <div>{{ reportValues[report.value] }}</div>
        <div>{{ report.element.name }} </div>
        {% if report.isResolved %}
          <div>{{ elementStatus[report.element.status] }}</div>
          <div>{{ report.comment }}</div>
        {% else %}
          <div>En attente de modération</div>
        {% endif %}
      </li>
  {% endfor %}
  </ul>
{% else %}
  <p class="empty-secton-message">
    Vous n'avez fait aucun signalement
  </p>
{% endif %}

</section>
   
{% endblock %}