{% set userRoles = {
  0: "Anonyme",
  1: 'Anonyme avec mail',
  2: "Utilisateur loggué",
  3: "Admin",
  4: 'Anonyme avec lien'
  }
%} 


<div {% if not loop.last and not itemContainer|default(true) %}class="item-container"{% endif %}>
	<div style="margin-bottom:5px">
    <span class="label {{ labelClass }}">{{ itemValues[item.value] }}</span> 
    <div style="float:right">{{ item.createdAt|date("d/m/Y à H:i")}}</div> 
    {% if smallWidth|default(false) %}
      </br>
      <span style="display:block;padding-top: 5px;">
    {% else %}
      <span style="margin:0 5px">
    {% endif %}    
      Par : <u>{{ item.userEmail ? item.userEmail : 'Anonyme'}}</u>
      <span class="label label-default" style="margin-left:5px">{{ userRoles[item.userRole] }}</span> 
    </span> 
    {{ item.resolvedMessage }}
  </div>   	
	<div>
    <i>{{ item.comment|capitalize }}</i>	  
  </div>

</div>

	
<style>
.item-container
{
	border-bottom: 1px dashed grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
</style>
