{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="sonata-news-block-recent-element box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ settings.title }}
            </h3>
        </div>

        <div class="box-body">

            <div class="sonata-blog-element-container list-group">
                {% for element in results %}
                    
                        <a class="list-group-item" href="{{ admin_pool.getAdminByAdminCode('admin.element').generateUrl('edit', { 'id': element.id }) }}">

                            {{ element.name }} {#- {{ 'archive_author'|trans({'%author%': element.author }, 'SonataNewsBundle') }} - {{ element.publicationDateStart | format_date }}#}</a>
                {% else %}
                    <a class="list-group-item" href="#">Aucun élement trouvé</a>
                {% endfor %}
            </div>
        </div>

        <div class="box-footer">
                <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[status][type]=1&filter[status][value]=2&filter[_page]=1&filter[_sort_by]=updatedAt&filter[_sort_order]=DESC&filter[_per_page]=32" class="btn btn-primary btn-block"><i class="fa fa-list"></i> Afficher tous</a>
        </div>
    </div>

{% endblock %}