{% extends sonata_block.templates.block_base %}

{% block block %}

		<div class="sonata-news-block-recent-element box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions spéciales</h3>
        </div>

        <div class="box-body">

            <div><a href={{ path('biopen_special_actions_update_json') }} target="_blank">Update Json representations</a></div>
            <div><a href={{ path('biopen_special_actions_update_options_string') }} target="_blank">Update options string</a></div>
            <div><a href={{ path('biopen_special_actions_update_gamification') }} target="_blank">Update user gamification</a></div>
            
            <div><a href={{ path('biopen_special_actions_detect_duplicates') }} target="_blank">Detection doublon</a></div>
            <div><a href={{ path('biopen_special_actions_delete_element_reported') }} target="_blank">Supprimer les éléments reportés comem n'existant plus</a></div>
            
            <!-- <div><a href={{ path('biopen_special_actions_fixs_mail_address') }} target="_blank">Réparer les adresses emails</a></div> -->
            <!-- <div><a href={{ path('biopen_special_actions_fixs_coordinates_digits') }} target="_blank">Reduire taille des coordonées</a></div> -->
            <!-- <div><a href={{ path('biopen_special_actions_add_import_contribution') }} target="_blank">Reset import contribution</a></div> -->
            <!-- <div><a href={{ path('biopen_special_actions_fix_cities') }} target="_blank">Fixs missing cities</a></div> -->
            <!-- <div><a href={{ path('biopen_special_actions_verify_duplicates') }} target="_blank">Vérifier que les élément marqués comme doublons le sont bien !</a></div> -->

        </div>
    </div>

      

{% endblock %}