{% extends sonata_block.templates.block_base %}

{% block block %}

		<div class="row">
      <div class="col-xs-6 col-md-3">       
    			<!-- small box -->
			    <div class="small-box bg-yellow">
			        <div class="inner">
			            <h3>{{ moderationNeededCount }}</h3>
			            <p>Acteurs à modérer</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-wrench"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[status][type]=1&filter[status][value]=-1&filter[_page]=1&filter[_sort_by]=updatedAt&filter[_sort_order]=DESC&filter[_per_page]=32" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  </div>

      
        <div class="col-xs-6 col-md-3">       
    			<!-- small box -->
			    <div class="small-box bg-aqua">
			        <div class="inner">
			            <h3>{{ pendingCount }}</h3>
			            <p>Acteurs en attente de validation</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-exclamation-triangle"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[status][type]=1&filter[status][value]=0&filter[_page]=1&filter[_sort_by]=updatedAt&filter[_sort_order]=DESC&filter[_per_page]=32" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>	
		  

		  <div class="row">
        <div class="col-xs-6 col-md-3">       
    			<!-- small box -->
			    <div class="small-box bg-green">
			        <div class="inner">
			            <h3>{{ validatesCount }}</h3>
			            <p>Acteurs valides</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-users"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>	
		  </div>

		  </div>

{% endblock %}