{% twig_js name="biopen_twigJs_category_value" %}

{% set displayThisCategoryValue = categoryValue.children.length > 0 %}

{% if displayThisCategoryValue %}
	<div class="category-wrapper">
	{% if subcategoriesCount > 1 %}
		<div class="category-name">{{ categoryValue.category.name }}</div>
		{% endif %}
{% endif %}

{% for optionValue in categoryValue.children %}

		{% set displayFirstCategoryInline = not categoryValue.category.enableDescription 
																		and optionValue.children.length > 0 
																		and optionValue.children[0].isLastCategoryDepth 
																		and not optionValue.children[0].category.enableDescription %}

		{#{% set isDisabled = optionValue.option.isDisabled ? 'disabled' : '' %}#}
		{% set colWidth = categoryValue.category.enableDescription ? 's6 m5' : 's12' %}
	  <div class='row'>
	    <span class="option-value col {{ colWidth }}">

	    	{% set iconClass = optionValue.option.icon ? optionValue.option.icon : 'icon-angle-right' %}	
	    	{% set iconColorId = optionValue.option.icon ? optionValue.option.id : '' %}	
				{% if iconClass %}    
					<span class="icon {{ iconClass }} colorAs" option-id={{ iconColorId }} ></span>
				{% endif %}
				
	      <span class="option-name {{ optionValue.diff }}" option-id={{ optionValue.option.id }} >{{ optionValue.option.nameShort ? optionValue.option.nameShort : optionValue.option.name|capitalize }}</span> 

	      {% if displayFirstCategoryInline %}
	      	<span class="inline-option">(
	      		{% for suboptionValue in optionValue.children[0].children %} 
	      			<span class="{{ suboptionValue.diff }}">{{ suboptionValue.option.name }} {% if not loop.last %}, {% endif %}</span> 
	      			
	      	{% endfor %})
	      </span>
	      {% endif %}

	    </span>
	    {% if categoryValue.category.enableDescription %}
	    	<span class="col s6 m7 option-description"><span class="{{ optionValue.diff }}">{{ optionValue.description|raw }}</span></span>
	    {% endif %}
	  </div>

	{% set subcategoriesCount = optionValue.children.length %}
	{% if displayFirstCategoryInline %}{% set subcategoriesCount = subcategoriesCount - 1 %}{% endif %}

	{% for subcategory in optionValue.children %}

		{% if not (loop.first and displayFirstCategoryInline) %}
			{% include '@directory/directory/twig-js-templates/element-info-category-value.html.twig' with { 'categoryValue' : subcategory, 'subcategoriesCount' : subcategoriesCount } %} 
		{% endif %}

	{% endfor %} 

{% endfor %} 

{% if displayThisCategoryValue %}
	<!-- div end for category-wrapper -->
	</div>
{% endif %}