{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 ie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 ie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="fr"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9 ie" lang="fr"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
  <title>{% block title %}Près de chez vous{% endblock %}</title>
  <!-- TODO --><meta name="google-site-verification" content="" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
   <!--[if IE]>
     <link rel="stylesheet" href="http://localhost/PagesVertes/web/assets/css/ie_polyfill.css"> 
   <![endif]-->   
  
  
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400|Yellowtail" rel="stylesheet">  -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}">

  {# gogocarto conatins materializeCss lib, so we load it for all files #}
  <link rel="stylesheet" href="{{ asset('assets/css/gogocarto.min.css') }}">
  {# the icons as SVG font #}
  <link href="https://file.myfontastic.com/p9QtVQwDCkDvVq6VJesnxg/icons.css" rel="stylesheet">

  {% block stylesheets %}
  {% endblock %}
  
<!-- TODO --> <meta name="description" content="" /> 
<!-- TODO --> <meta name="keywords" content="" />
  <meta name="robots" content="index, follow, all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      _paq.push(['setTrackerUrl',  'https://api-a5d264e723c7a2df371f7dacfe8abd1a.oasis.sandstorm.io']);
      _paq.push(['setSiteId', 1]);
      _paq.push(['setApiToken', 'ACA4TCh6__HmM3E5mj7fRZzdeYlK00SnAyVTThKmfMs']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://2cfm3kso65p8dc6mvo3g.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
  
</head>
<body>
  {% block body %}
  {% endblock %} 

  {# Mains javascripts libs #}
  <script src="{{ asset('js/gogocarto.js') }}"></script> 
  <script src="{{ asset('js/libs.js') }}"></script>      
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>   

  {# Block to add custom javascript to each page #}
  {% block javascripts %}           
  {% endblock %}    

</body>
</html>

{% block modals %}
  
{% endblock %}