{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 ie" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 ie" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="fr"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9 ie" lang="fr"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
  <title>{% block title %}GoGoCarto{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  {# gogocarto contains materializeCss lib, so we load it for all files #}
  <link rel="stylesheet" href="{{ asset('assets/css/gogocarto.min.css?ver=' ~ version) }}">    

  {% block stylesheets %}
  {% endblock %}  

  {% if config is defined %}
    {% include '@BiopenCoreBundle/custom-head.html.twig' %}
  {% endif %} 

  <meta name="robots" content="index, follow, all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
</head>

<body class="gogo-load-css {% if pageName is defined %}{{ pageName }}{% endif %}"> {# use this class to load the css vendors encapsulated inside gogocarto.css #}

  {# All action from GoGoControllers give the config variable into the view to render the header.
  If not, we need to render manually the header via a dedicate action 
  It occurs for sonata user routes, like register, resetting and so on #}
  {% if config is defined %}
    {% include '@BiopenCoreBundle/header.html.twig' %}
  {% else %}
    {{ render(controller('BiopenCoreBundle:Core:header', {'title': navTitle|default(''), 'iframe': app.request.get('iframe') } ))}}
  {% endif %}

  {% block body %}
  {% endblock %} 

  {# Mains javascripts libs #}
  <script src="{{ asset('js/gogocarto.js?ver=' ~ version) }}"></script> 
  <script src="{{ asset('js/libs.js?ver=' ~ version) }}"></script>      

  {# Block to add custom javascript to each page #}
  {% block javascripts %}           
  {% endblock %}    

</body>
</html>

{% if config is defined %}
  {% block header_modals %} 
      {% include '@BiopenCoreBundle/modals/headerModals.html.twig' %}
      {% include '@BiopenCoreBundle/modals/loginModal.html.twig' %}
  {% endblock %}
{% endif %}

{% block modals %}
  
{% endblock %}