{% extends "::bundle_layout.html.twig" %}

{% block title %}Constellation{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ asset('assets/css/constellation.css') }}">

{% endblock %}




{# BODY CONTENT #}
{% block body_content %}
  
<section id="section_carte">
  <div id="map"></div>

  <div id="bandeau_detail">
    <div id="detail_fournisseur"></div>
  </div>

  <div id="bandeau_option"></div>

  <div id="btn_menu"><i class='material-icons'>menu</i></div> 
  <div id="overlay"></div>
</section>

{# Le bandeau qui indique qu'il y a une liste de résultat en bas #}
<div id="bandeau_plus_resultats">  
  <a href='#bandeau_resultats'>
    <div class="valign-wrapper">
    <i class="material-icons">expand_more</i>
    <div class="">Liste des résultats</div>
    <i class="material-icons">expand_more</i>
    </div>
  </a>
</div>

{# Les résultats par liste #}
<div id="bandeau_resultats">
  <ul class="collapsible popout" data-collapsible="accordion">

    {% for nom_etoile, etoile in constellationPhp.etoiles %}      
      {% for key, fournisseur in etoile.fournisseurList %}
         
      <li id="infoFournisseur-{{ fournisseur.id }}" 
        {% if key != 0 %} style="display:none" {% endif %}>

      <div class="collapsible-header">
          
          <div class='collapsible-header-title row'>
            <i class="material-icons col s1">filter_drama</i>
            <span class="col s8"><b>{{ fournisseur.nom|capitalize }}</b></span>
            <span class="col s3 right-align">{{ fournisseur.distance|round(1) }} km</span>
          </div>

          <div class='collapsible-header-more row'>
            <span class="description col s12">{{ fournisseur.description }}</span> 
            <span class="list_produits col s8 produits">
              {% for produit in fournisseur.produits %} 
                  {{ produit.nom }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </span>
            <a><span class=" col s4 right-align">Plus d'infos</span></a>
          </div>

      </div>

      <div class="collapsible-body moreDetails" > 
        
        <div class="section row"> 
          {% for produit in fournisseur.produits %} 
              <span class="col s3 categorie">{{ produit.nom }}</span>
              <span class="col s9 detail">{{ produit.descriptif }}</span>
          {% endfor %}          
          
        </div>       
        <div class="divider"></div>

        <div class="section row">          
          <span class="col s12 adresse">{{ fournisseur.adresse|capitalize }}</span>
          <span class="col s12 tel">{{ fournisseur.tel|split('',2)|join(' ') }}</span>
        </div>

         <div id="collapsible-menu" class="row">
          <center>
            <button id="" class=" btn waves-effect waves-light">Modifier les informations</button>
          </center>          
        </div> 

        {# <div> Autres résultats </div> #}

      </div>
      </li>
      {% endfor %}
    {% endfor %}   

  </ul>
</div>

{% endblock %}



{% block javascripts %}

  <script>

    var iconDirectory = "{{ asset('assets/img/icon/') }}"

    var constellationRawJson = null;
    {% if constellationPhp != null %}
      constellationRawJson = {{ constellationPhp | serialize("json") | raw }};
    {% endif %}
  </script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
  {% javascripts filter="?jsqueeze"
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/cluster/cluster-commons.js"
        "assets/js/libs/cluster/clustericon.js"
        "assets/js/libs/cluster/cluster.js"
        "assets/js/libs/cluster/markerclusterer.js" 
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/map-utils.js"
        "assets/js/map-drawing.js"
        "assets/js/constellation.class.js"
        "assets/js/constellation-star.class.js"
        "assets/js/constellation-map.js"
        "assets/js/constellation-animation.js"
        "assets/js/constellation-images.js"
        "assets/js/constellation.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&callback=initMap">
  </script>

  

{% endblock %}

