{% extends "::bundle_layout.html.twig" %}

{% block title %}Constellation{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ asset('assets/css/constellation.css') }}">

{% endblock %}



{# BODY CONTENT #}
{% block body_content %}

<div id="div_map_and_products">

  {# La liste des produits #}
  <section id="ProductsList"> 
  <p>un produit</p> 
  <p>un produit</p> 
  <p>un produit</p> 
  <p>un produit</p> 
  <p>un produit</p> 
  <p>un produit</p> 
  </section>

   
  {# La Carte et les infos fournisseur #} 
  <section id="section_carte">
    <div id="map"></div>

    <div id="bandeau_detail">
      <div id="detail_fournisseur"></div>
    </div>

    {# <div id="bandeau_option"></div> #}

    <div id="btn_menu"><i class='material-icons'>menu</i></div> 
    <div id="overlay"></div>
  </section>  

</div>

{# Le bandeau qui indique qu'il y a une liste de résultat en bas #}
<div id="bandeau_goToFournisseurList">  
  <a href='#FournisseurList'>
    <div class="valign-wrapper">
    <i class="material-icons">expand_more</i>
    <div class="">Liste des résultats</div>
    <i class="material-icons">expand_more</i>
    </div>
  </a>
</div>

{# Les résultats par liste #}
<section id="FournisseurList">
  <ul class="collapsible popout" data-collapsible="accordion">

    {% if constellationPhp is defined %}
      {% for key, fournisseur in constellationPhp.globalListFournisseur %} 

          {% include 'BiopenCoreBundle:fournisseurInfo.html.twig' 
              with {'fournisseur':fournisseur, 'display':true} only %}

      {% endfor %}  

      {% for key, fournisseur in constellationPhp.globalListFournisseur %} 

          {% include 'BiopenCoreBundle:fournisseurInfo.html.twig' 
              with {'fournisseur':fournisseur, 'display':true} only %}

      {% endfor %}  

      {% for key, fournisseur in constellationPhp.globalListFournisseur %} 

          {% include 'BiopenCoreBundle:fournisseurInfo.html.twig' 
              with {'fournisseur':fournisseur, 'display':true} only %}

      {% endfor %}  
    {% endif %} 

  </ul>
</section>



{% endblock %}



{% block javascripts %}

  <script>

    var iconDirectory = "{{ asset('assets/img/icon/') }}"

    var constellationRawJson = null;
    {% if constellationPhp != null %}
      constellationRawJson = {{ constellationPhp | serialize("json") | raw }};
    {% endif %}
  </script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
  {% javascripts filter="?jsqueeze"
        "assets/js/libs/jquery-2.2.1.min.js"
        "assets/js/libs/cluster/cluster-commons.js"
        "assets/js/libs/cluster/clustericon.js"
        "assets/js/libs/cluster/cluster.js"
        "assets/js/libs/cluster/markerclusterer.js" 
        "assets/js/libs/materialize/bin/materialize.js"
        "assets/js/map-utils.js"
        "assets/js/map-drawing.js"
        "assets/js/listFournisseurManager.class.js"
        "assets/js/constellation.class.js"
        "assets/js/constellation-star.class.js"
        "assets/js/constellation-map.js"
        "assets/js/constellation-animation.js"
        "assets/js/constellation-images.js"
        "assets/js/constellation.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&callback=initMap">
  </script>#}

  

{% endblock %}

