{% block modals %} 
    {% include '@BiopenCoreBundle/modals/headerModals.html.twig' %}
    {% include '@BiopenCoreBundle/modals/loginModal.html.twig' %}
{% endblock %}

{% include '@BiopenCoreBundle/gogocarto-styles.html.twig' %}

{% block body_content %}

<header>
<nav>
	<div id="menu" class="row">

    {% set iframe = app.request.get('iframe') %}

		<div class="col menu-item" id="menu-home">			
			<a href="{{ path('biopen_homepage') }}" {% if iframe %}target="_blank"{% endif %} class="small-logo"><span class="gogo-icon-menu gogo-icon-home"></span></a> 
			<a href="{{ path('biopen_homepage') }}" {% if iframe %}target="_blank"{% endif %} class="large-logo"><img src="{{ asset('assets/img/logo_inline.png') }}" id="logo-inline"/></a> 
		</div>
    
		<div id="menu-actions">
    
      {% if not iframe %}
  			<div class="col menu-item">
  			  <a href="{{ path('biopen_directory') }}"><span class="gogo-icon-menu gogo-icon-map"></span><span class="text">Annuaire</span></a> 
  			</div>	
      {% endif %}

      {% if not config.addFeature.isOnlyAllowedForAdmin() or is_granted('ROLE_ADMIN') %}
			<div class="col menu-item">
				<a href="{{ path('biopen_element_add') }}" {% if iframe %}target="_blank"{% endif %}>
          <span class="gogo-icon-menu gogo-icon-user-plus"></span><span class="text">Ajouter un acteur</span>
        </a>  
			</div>
      {% endif %}

			<div class="col menu-item">
				<a href="{{ path('biopen_partners') }}" {% if iframe %}target="_blank"{% endif %}>
          <span class="gogo-icon-menu gogo-icon-partner-3"></span><span class="text">Partenaires</span>
        </a>  
			</div>	
                       
      <div class="col menu-item dropdown-button" data-activates='listAbout'>
        <a id='btn-about'><span class="gogo-icon-menu gogo-icon-info"></span><span class="text">A propos</span></a> 
        <div class="arrow-after"></div>                
      </div>
      <ul id='listAbout' class='dropdown-content'>        	
        
        {% for about in listAbouts %}
        	<li class="item-divider"></li>
          <li class="name"><a class="about-title-item" id='modal{{about.id}}' onclick="$('#popup-{{about.id}}').openModal()">{{about.name}}</a></li>
      	{% endfor %}            
      </ul>

      {# no loggin in iframe #}
      {% if not iframe %}
        {% set userName =  app.user ? app.user.username : app.session.get('user_email') ?  app.session.get('user_email') : null %}
        <div {{ userName ? '' : 'style="display:none"' }} class="col menu-item btn-login dropdown-button" data-activates='listUserActions' id="btn-logout">
          <span class="text username">{{ userName }}</span>
          <span class="gogo-icon-menu gogo-icon-lock"></span> 
          <div class="arrow-after"></div>  
        </div>
        <ul id='listUserActions' class='dropdown-content'>      
            <li class="item-divider"></li>
            <li class="name"><a class="about-title-item waves-effect waves-light" onclick="logout()">Se Déconnecter</a></li>       
        </ul>

      	<button {{ userName ? 'style="display:none"' : '' }}
  				onclick="$('#popup-login').openModal()" id="btn-login"
  				class="btn btn-login">
          <span class="gogo-icon-menu gogo-icon-unlock"></span><span class="text">Connexion</span>				
  			</button>		
      {% endif %}

    </div>
	</div>
</nav> 
</header>

<script>

function logout()
{
  console.log("logout");
  $.ajax({
      method : 'post',
      url         : "{{ path('fos_user_security_logout') }}",
      success     : function(data, status, object) {
          console.log("success logout");
          displayLoginButton(true);
          handleLogin(false, []);
      },
      error: function(data, status, object){
          console.log(data.message);
      }
  });
}

function submitAjaxLogin()
{
  console.log("submit");
  $('.error-message').hide();
  $.ajax({
      method : 'post',
      url         : '{{ path("fos_user_security_check") }}',
      data        : $('#login-form').serialize(),
      dataType    : "json",
      success     : function(data, status, object) {
          if (data.success)
          {
            $('#popup-login').closeModal();
            handleLogin(true, data.role);
            $('#btn-logout .username').text(data.name);
            displayLoginButton(false);       
          }  
          else
          {
            $('.error-message').text("Les identifiants de connexion ne sont pas corrects").show();
          }        
      },
      error: function(data, status, object){
          $('.error-message').text("Une erreur s'est produite lors de la tentative de connexion").show();
      }
  });
}

function handleLogin(bool, roles)
{
  console.log("handle login", bool);
  if (bool) $('#btn-login').trigger('login');
  else $('#btn-login').trigger('logout');

  // carto is the GoGoCartoJs instance, defined in GeoDirectory/directoy.html.twig
  if (typeof carto !== 'undefined')
  {
    // in GoGoCartoJs there are 3 roles : anonymous (0), user (1), admin (2)
    if ($.inArray('ROLE_ADMIN', roles) > -1) carto.setUserRole('admin');
    else if ($.inArray('ROLE_USER', roles) > -1) carto.setUserRole('user');
    else carto.setUserRole('anonymous');
  }  
}

function displayLoginButton(bool)
{
	if (bool)
	{
		$('#btn-logout').hide();
    $('#listUserActions').hide();
		$('#btn-login').show();
	}
	else
	{		
		$('#btn-logout').show();
		$('#btn-login').hide();
	}
}
</script>

{% endblock %}

