{% block body_content %}

<header>
<nav>
	<div id="menu" class="row ">

		<div class="col menu-item" id="menu-home">			
			<a href="{{ path('biopen_homepage') }}" class="small-logo">P</a> 
			<a href="{{ path('biopen_homepage') }}" class="large-logo">Près de chez nous</a> 
		</div>
		<div id="menu-actions">
			<div class="col menu-item">
			  <a href="{{ path('biopen_directory_normal', { mode : 'carte'} ) }}">Annuaire</a>  
				<!-- <a id="btn-menu-directory" >Annuaire</a>  -->
			</div>

			<!-- <div class="col menu-item">
				<a id="btn-menu-constellation">AUTOUR DE MOI</a> 
			</div>	 -->		

			<div class="col menu-item">
				<a href="{{ path('biopen_element_add') }}">Signaler un acteur</a>  
			</div>

			<div class="col menu-item">
				<a href="{{ path('biopen_partners') }}">Partenaires</a>  
			</div>	
                       
      <div class="col menu-item dropdown-button" data-activates='listAbout'>
        <a id='btn-about'>A propos</a> 
        <div class="arrow-after"></div>                
      </div>
      <ul id='listAbout' class='dropdown-content'>        	
        
        {% for about in listAbouts %}
        	<li class="item-divider"></li>
          <li class="name"><a class="about-title-item" id='modal{{about.id}}' onclick="$('#popup-{{about.id}}').openModal()">{{about.name}}</a></li>
      	{% endfor %}            
      </ul>
		
	    </div>
	</div>
</nav> 
</header>

{% endblock %}

{% block modals %} 
    {% include '@BiopenCoreBundle/modals/headerModals.html.twig' %}
{% endblock %}