{% block body_content %}

<header>
<nav>
	<div id="menu" class="row ">

		<div class="col menu-item" id="menu-home">			
			<a href="{{ path('biopen_homepage') }}" class="small-logo">P</a> 
			<a href="{{ path('biopen_homepage') }}" class="large-logo">Près de chez nous</a> 
		</div>
		<div id="menu-actions">
			<div class="col menu-item">
			  <a href="{{ path('biopen_directory_normal', { mode : 'carte'} ) }}">Annuaire</a>  
				<!-- <a id="btn-menu-directory" >Annuaire</a>  -->
			</div>

			<!-- <div class="col menu-item">
				<a id="btn-menu-constellation">AUTOUR DE MOI</a> 
			</div>	 -->		

			<div class="col menu-item">
				<a href="{{ path('biopen_element_add') }}">Signaler un acteur</a>  
			</div>

			<div class="col menu-item">
				<a href="{{ path('biopen_partners') }}">Partenaires</a>  
			</div>	
                       
      <div class="col menu-item dropdown-button" data-activates='listAbout'>
        <a id='btn-about'>A propos</a> 
        <div class="arrow-after"></div>                
      </div>
      <ul id='listAbout' class='dropdown-content'>        	
        
        {% for about in listAbouts | sortbyfield('position') %}
        	<li class="item-divider"></li>
          <li class="name"><a class="about-title-item" id='modal{{about.id}}' onclick="$('#popup-{{about.id}}').openModal()">{{about.name}}</a></li>
      	{% endfor %}            
      </ul>

      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <button 
				onclick="logout()"
				class="waves-effect waves-teal btn-flat btn-login">
				Se déconnecter
			</button>
      {% else %}
      	<button 
					onclick="$('#popup-login').openModal()"  
					class="waves-effect waves-teal btn btn-login">
					Connexion
				</button>
      {% endif %}
      
		
	    </div>
	</div>
</nav> 
</header>

<script>

function logout()
{
  console.log("logout");
  $.ajax({
      method : 'post',
      url         : "{{ path('fos_user_security_logout') }}",
      success     : function(data, status, object) {
          console.log("success login",data);
      },
      error: function(data, status, object){
          console.log(data.message);
      }
  });
}
</script>

{% endblock %}

{% block modals %} 
    {% include '@BiopenCoreBundle/modals/headerModals.html.twig' %}
    {% include '@BiopenCoreBundle/modals/loginModal.html.twig' %}
{% endblock %}