{% extends "@BiopenCoreBundle/base-layout.html.twig" %}

{% block title %}{{ config.appName }}{% endblock %}

{% block stylesheets %}
  
  <link rel="stylesheet" href="{{ asset('assets/css/pages.css?ver=' ~ version) }}"> 
  <link rel="stylesheet" href="{{ asset('assets/css/home.css?ver=' ~ version) }}">   

  <style>
	  body { background-color: {{ config.primaryColor }} !important; background-image: url(); }
	</style>	

{% endblock %}

{# BODY CONTENT #}
{% block body %}
<div>{{ render(controller('BiopenCoreBundle:Core:header', {'title' : config.appName, 'iframe': app.request.get('iframe') } ))}}</div>
<div id="home-main-wrapper" class="valign-wrapper">
	<section id="home-main-container" class="valign">	

		{# TODO put logo or H1 with text depending on config #}
		<h1 style="display:none">{{ config.appName }}</h1>

		<img src="{{ asset('assets/img/logo.png') }}" id="home-logo"/>		

		<h2>{{ config.appBaseline }}</h2>

		<div class="input-field" id="search-bar-container" >
			<a class="gogo-icon-search waves-effect waves-light" id="search-bar-icon"></a> 
			<input class="validate" placeholder="Entrez une adresse, une ville..." type="text" id="search-bar" name="adresse"/>
		</div>

		{% set showCategoriesOptions = false %}
		{% if showCategoriesOptions %}
			<div class="main-options-container">
				<input class="main-option-radio-btn" data-name="all" name="mainOption" type="radio" id="option-all" checked/>
		    <label class="main-option-radio-label" for="option-all">Toutes</label>

				{% for option in mainOptions %}
					<input class="main-option-radio-btn" data-name="{{ option.nameShort ? option.nameShort : option.name }}" name="mainOption" type="radio" id="option-{{option.id}}" />
		      <label class="main-option-radio-label" for="option-{{option.id}}">{{ option.name }}</label>
				{% endfor %}
			</div>

			<span class="category-field-select input-field">
		    <select  class="category-select" id="category-select">	   	  
		   	  <option disabled selected value="all">Choisissez une catégorie (par défaut : toutes)</option>
		   	   
		     {% for option in mainOptions %}
		      	<option value="{{ option.nameShort ? option.nameShort : option.name }}">{{ option.name }}</option>
		      {% endfor %}
		    </select>  	
	  	</span>
  	{% endif %}

		<button id="btn-directory" class="primary-button btn waves-effect waves-light">Rechercher</button>

		<div class="divider"></div>

		<div>
			<p class="contribution-text">Aidez-nous à agrandir notre base de donnée collaborative en ajoutant {{ config.elementDisplayNameIndefinite }} !</p>
			<a href="{{ path('biopen_element_add') }}">
				<button class="btn-secondary btn waves-effect waves-light">Ajouter {{ config.elementDisplayNameIndefinite }}</button>
			</a>
		</div>		
	
	</section>

	<div id="bottom-more-info">
		<span class="icon gogo-icon-arrow-circle-down"></span>
		<span class="text">Un projet libre propulsé par Colibris</span>
		<span class="icon gogo-icon-arrow-circle-down"></span>
	</div>
</div>

<div class="wrappers-container">
{% for wrapper in listWrappers %}
	<section class="bottom-section valign-wrapper" style="background-color: #{{wrapper.backgroundColor}}">
	    <div class="content valign" style="color: #{{wrapper.textColor}}">
	    	<h2 >{{wrapper.title | raw}}</h2>
	    	<p class="wysiwyg-content">{{ wrapper.content | raw }} {{ wrapper.rawContent | raw}}</p>
        </div>
    </section>
{% endfor %}
</div>


<section id="section-credits" class="">
		Propulsed by <a href="https://github.com/pixelhumain/GoGoCarto" style=\"font-weight:bold;color: #bdc900;" target="_blank"><strong>GoGoCarto</strong></a>
</section>

{% endblock %}

{% block javascripts %}  
	<script src="{{ asset('js/home.js') }}"></script>
	<script>
		var ratio = window.innerWidth / window.innerHeight;

		var imgDir = "{{ asset('assets/img/') }}";
		var imgName = ratio > 1.75 ? 'home-2-1' : 'home-3-2';

		if (window.innerWidth > 1200) imgName += '-big';
		else if (window.innerWidth > 600) imgName += '-medium';
		else imgName += '-small';

		imgName += '.png';				
		var imgPath = imgDir + imgName;

		// not displaying image for small screens
		if (window.innerWidth > 600) $('body').css('background-image', 'url(' + imgPath + ')' );
	</script>
	
{% endblock %}



