{% extends "@BiopenCoreBundle/base-layout.html.twig" %}

{% block title %}Près de chez nous{% endblock %}

{# Stylessheets #}
{% block stylesheets %}
	
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">	
	<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">		

{% endblock %}


{# BODY CONTENT #}
{% block body %}
<div id="home-main-wrapper" class="valign-wrapper">
	<section id="home-main-container" class="valign">	

		<h1>Près de chez nous</h1>

		<h2>L'annuaire intéractif des alternatives près de chez soi</h2>

		<div class="input-field" id="search-bar-container" >
			<a class="icon-search" id="search-bar-icon"></a> 
			<input class="validate" placeholder="Entrez un lieu, un acteur, une catégorie..." type="text" id="search-bar" name="adresse"/>
		</div>

		<div class="main-options-container">
			<input class="main-option-radio-btn" data-name="all" name="mainOption" type="radio" id="option-all" checked/>
	    <label class="main-option-radio-label" for="option-all">Toutes</label>

			{% for option in mainOptions | sortbyfield('index') %}
				<input class="main-option-radio-btn" data-name="{{option.nameShort}}" name="mainOption" type="radio" id="option-{{option.id}}" />
	      <label class="main-option-radio-label" for="option-{{option.id}}">{{ option.name }}</label>
			{% endfor %}
		</div>

		<span class="category-field-select input-field">
	    <select  class="category-select" id="category-select">	   	  
	   	  <option disabled selected value="all">Choisissez une catégorie (par défaut : toutes)</option>
	   	   
	     {% for option in mainOptions | sortbyfield('index') %}
	      	<option value="{{option.nameShort}}">{{ option.name }}</option>
	      {% endfor %}
	    </select>
  	
  	</span>

		<button id="btn-directory" class="primary-button  btn waves-effect waves-light">Rechercher dans l'annuaire</button>

		<div class="divider"></div>

		<div class="row">
			<p>Aidez-nous à agrandir notre base de donnée collaborative en ajoutant un acteur !</p>
			<a href="{{ path('biopen_element_add') }}">
				<button class="secondary-button  btn waves-effect waves-light">Participer</button>
			</a>
		</div>		
	
	</section>

	<div id="bottom-more-info">
		<!-- <div class="arrow-down"></div> -->
		<span class="icon icon-expand"></span>
		<span class="text">En savoir plus</span>
		<span class="icon icon-expand"></span>
	</div>
</div>


{% for wrapper in listWrappers | sortbyfield('position') %}
	<section class="bottom-section valign-wrapper" style="background-color: #{{wrapper.backgroundColor}}">
	    <div class="content valign" style="color: #{{wrapper.textColor}}">
	    	<h2 >{{wrapper.title | raw}}</h2>
	    	<p>{{ wrapper.content | raw }} {{ wrapper.rawContent | raw}}</p>
        </div>
    </section>
{% endfor %}


<section id="section-contact" class="bottom-section">
	<div class="content">
		<h2>Made by Biopen</h2>
	</div>
</section>

{% endblock %}

{% block javascripts %}
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  	<script src="{{ asset('js/libs.js') }}"></script>  
    <script src="{{ asset('js/home.js') }}"></script>

    {#<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgah9u8A21CdN6O_fN80Op-4zcLJ0EwXk&libraries=places&callback=initMap">
		</script>#}

	
{% endblock %}

