{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% block title %}Partenaires{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

<section>

<iframe width="800" height="600" frameborder="0" marginheight="0"  
 marginwidth="0" src="http://localhost/GoGoCarto/web/app_dev.php/annuaire?iframe=1#/carte/labrit"></iframe>

<h1>Nos amis et partenaires</h1>    

{% for partner in listPartners %}

  <div class="partner-item row">
    <div class="image-container col s4 m3">
      <img src={{ partner.logoUrl }} alt="logo" class=""/>
    </div>
    <div class="partner-text col s8 m9">
      <h2>{{ partner.name|capitalize }}</h2>
      <p>{{ partner.content |raw }} </p>
      <a href="{{ partner.websiteUrl }}" target="_blank">{{ partner.websiteUrl }}</a>
    </div>
  </div>

{% endfor %}

</section>
   
{% endblock %}