{% extends "@BiopenCoreBundle/bundle-layout.html.twig" %}

{% block title %}Partenaires{% endblock %}

{# Stylessheets #}
{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('assets/css/base_directory.css') }}"> 
  <link rel="stylesheet" href="{{ asset('assets/css/partner.css') }}">   

{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

<h1>Nos amis et partenaires</h1>    

<div class="partners-container">
{% for partner in listPartners %}

  <div class="partner-item row">
    <div class="image-container col s4 m3">
      <img src={{ partner.logoUrl }} alt="logo" class=""/>
    </div>
    <div class="partner-text col s8 m9">
      <h3>{{ partner.name|capitalize }}</h3>
      <p>{{ partner.content |raw }} </p>
      <a href={{ partner.websiteUrl }}>{{ partner.websiteUrl }}</a>
    </div>
  </div>

{% endfor %}

</div>

{% block javascripts %}

  <script src="{{ asset('js/libs.js') }}"></script> 

{% endblock %}
   
{% endblock %}