{% extends "@BiopenCoreBundle/page-layout.html.twig" %}

{% set pageName = 'partners' %}

{% block title %}Partenaires{% endblock %}

{# BODY CONTENT #}
{% block body_content %}

<section>

<h1>Partenaires</h1>    

{% for partner in listPartners %}

  <div class="partner-item row">
    {% if partner.logoUrl %}
      <div class="image-container">
        <img src={{ partner.logoUrl }} alt="logo" class="partner-logo"/>
      </div>
    {% endif %}
    <div class="partner-text">
      <h2 class="partner-title {{ partner.logoUrl ? "with-logo" : 'no-logo' }}">{{ partner.name|capitalize }}</h2>
      <div class="partner-description">{{ partner.content | raw }} </div>
      {% if partner.websiteUrl %}<a class="partner-url" href="{{ partner.websiteUrl }}" target="_blank">{{ partner.websiteUrl }}</a>{% endif %}
    </div>
  </div>

{% endfor %}

</section>
   
{% endblock %}