<li id="infoProvider-{{ provider.id }}" 
  class="providerItem" 
  data-provider-id="{{ provider.id }}"
  {% if display is defined and not display %} style="display:none" {% endif %}>        

  <div class="collapsible-header">

    <div class='collapsible-header-title row'>
      <span class="col s1 icon icon-{{provider.mainProduct|lower}}"></span>
      <span class="col s8"><b>{{ provider.name|capitalize }}</b></span>
      <span class="col s3 right-align">{{ provider.distance|round(1) }} km</span>
    </div>

    <div class='collapsible-header-more row'>
      <span class="description col s12">{{ provider.description }}</span> 
      <span class="list_products col s8 products">
        {% for product in provider.products %} 
          {{ product.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </span>
      <a><span class=" col s4 right-align">Plus d'infos</span></a>
    </div>

  </div>

  <div class="collapsible-body moreDetails" > 

    <div class="section row"> 
      {% for product in provider.products %} 
        <span class="col s3 categorie">{{ product.name }}</span>
        <span class="col s9 detail">{{ product.descriptif }}</span>
      {% endfor %}          

    </div>       
    <div class="divider"></div>

    <div class="section row">          
      <span class="col s12 adresse">{{ provider.adresse|capitalize }}</span>
      <span class="col s12 tel">{{ provider.tel|split('',2)|join(' ') }}</span>
    </div>

    <div id="collapsible-menu" class="row">
      <center>
        <button id="" class=" btn waves-effect waves-light">Modifier les informations</button>
      </center>          
    </div> 

    {# <div> Autres résultats </div> #}

  </div>
</li>